<div id="advertised-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="advertised red">
                    <div class="arrow-left"></div>
                    <div class="arrow-down-2"></div>
                    <p>
                        <img src='/assets/images/professor.png'
                             title="{{ site.data.languages[page.language]['learn'] }}"
                             alt="{{ site.data.languages[page.language]['learn'] }}"/>
                        {{ site.data.languages[page.language]['learn'] }}
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="advertised">
                    <p>
                        <a href="https://docs.phalcon.io/en/3.4/tutorial-base">
                            <img src='/assets/images/chemistry.png'
                                 title="{{ site.data.languages[page.language]['try_phalcon'] }}"
                                 alt="{{ site.data.languages[page.language]['try_phalcon'] }}"/>
                            {{ site.data.languages[page.language]['try_phalcon'] }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="advertised">
                    <p>
                        <a href="https://zephir-lang.com">
                            <img src='/assets/images/zephir_logo.png'
                                 title='Zephir'
                                 alt='Zephir'/>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="advertised">
                    <p>
                        <a href="/{{ page.language }}/about">
                            <img src='/assets/images/drop.png'
                                 title="{{ site.data.languages[page.language]['contribute'] }}"
                                 alt="{{ site.data.languages[page.language]['contribute'] }}"/>
                            {{ site.data.languages[page.language]['contribute'] }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
