<section>
    <div class="container">
        <div class="white-bg">

            <!-- Section Heading -->
            <h2>
                {{ site.data.languages[page.language]['join_our_community'] }}
            </h2>
            <p>
                {{ site.data.languages[page.language]['join_our_community_description'] }}
            </p>
            <br>
            <div class="clearfix">

                <!-- Benefit1 -->
                <div class="col-md-4 community">
                    <a href="https://phalcon.link/forum">
                        <div class="benifit-icon">
                            <img alt=""
                                 src="/assets/images/chat.png"
                                 width="60"
                                 height="60">
                        </div>
                        <h3>
                            {{ site.data.languages[page.language]['forum'] }}
                        </h3>
                    </a>
                </div>

                <div class="col-md-4 community">
                    <a href="https://phalcon.link/github">
                        <div class="benifit-icon">
                            <img alt=""
                                 src="/assets/images/github_black.png"
                                 width="60"
                                 height="60"
                                 style="border-radius: 25px;">
                        </div>
                        <h3>
                            GitHub
                        </h3>
                    </a>
                </div>
                <!-- /End Benefit1 -->

                <!-- Benefit2 -->
                <div class="col-md-4 community">
                    <a href="https://stackoverflow.com/questions/tagged/phalcon">
                        <div class="benifit-icon">
                            <img alt=""
                                 src="/assets/images/stackoverflow.png"
                                 width="60"
                                 height="60"
                                 style="border-radius: 25px;">
                        </div>
                        <h3>
                            Stack Overflow
                        </h3>
                    </a>
                </div>
                <!-- /End Benefit2 -->
            </div>
        </div>
    </div>
</section>
