<section class="contributors">
    <div class="contributors__top">
        <div>
            <div class="contibutors__title">
                {{ site.data.languages[page.language]['contributors'] }}
            </div>

            <div class="contibutors__descr">
                {{ site.data.languages[page.language]['contributors_description'] }}
            </div>
        </div>

        <a href="/about" class="green-button-light">
            {{ site.data.languages[page.language]['contribute'] }}
        </a>
    </div>

    <div class="contributors__list-wrap">
        <div class="contributors__list">
            {% for username in site.data.contributors %}
            <a title="{{ username }}"
               class="contributors__list-item"
               href="https://github.com/{{ username }}">
                <img src="/assets/images/contributors/{{ username }}.jpg"
                     alt="{{ username }}"/>
            {% endfor %}
        </div>
    </div>

    <div class="contributors__mobile">
        <a href="https://github.com/phalcon/cphalcon/graphs/contributors" class="black-button">
            {{ site.data.languages[page.language]['contributors'] }}
        </a>

        <a href="/about" class="black-button">
            {{ site.data.languages[page.language]['contribute'] }}
        </a>
    </div>
</section>
