<section>
    <div class="container">
        <div class="col-md-12 red-bg">

            <!-- HEADING -->
            <h2>{{ site.data.languages[page.language]['polling_app'] }}</h2>
            <p>{{ site.data.languages[page.language]['watch_demo'] }}</p>
            <div class="separator"></div>

            <!-- Video -->
            <div class="video-img">
                <img alt="" src="/assets/images/flat_v3/laptop.png">
                <div class="video">
                    <iframe src="https://player.vimeo.com/video/63022489?color=ffffff"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
