<section id="feature-section" class="codesamples">
    <div class="container">
        <div class=" col-md-12 white-bg">
            <div class="col-sm-5">
                <h2 class="verticle-line">
                    {{ site.data.languages[page.language]['more'] }}
                </h2>

                <ul class="feature-list">
                    <li class="more_components acl">
                        <div class="feature-bullet">
                            <img src='/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['acl'] }}"
                                 alt="{{ site.data.languages[page.language]['acl'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['acl'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['acl_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="more_components sharding">
                        <div class="feature-bullet">
                            <img src='/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['sharding'] }}"
                                 alt="{{ site.data.languages[page.language]['sharding'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['sharding'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['sharding_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="more_components crypt">
                        <div class="feature-bullet">
                            <img src='/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['crypt'] }}"
                                 alt="{{ site.data.languages[page.language]['crypt'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['crypt'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['crypt_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="more_components events">
                        <div class="feature-bullet">
                            <img src='/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['events'] }}"
                                 alt="{{ site.data.languages[page.language]['events'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['events'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['events_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="more_components queueing">
                        <div class="feature-bullet">
                            <img src='/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['queueing'] }}"
                                 alt="{{ site.data.languages[page.language]['queueing'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['queueing'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['queueing_description'] }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /End Features Left -->

            <!-- Features Right -->
            <div class="col-sm-7">
                <div class="codesample more_components_code code_acl">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['acl'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['acl_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Acl;
use Phalcon\Acl\Role;
use Phalcon\Acl\Adapter\Memory as AclList;

// {{ site.data.languages[page.language]['acl_2'] }}
$acl = new AclList();

// {{ site.data.languages[page.language]['acl_3'] }}
$acl->setDefaultAction(Acl::DENY);

// {{ site.data.languages[page.language]['acl_4'] }}
// {{ site.data.languages[page.language]['acl_5'] }}
$roles = array(
    'users'  => new Role('Users'),
    'guests' => new Role('Guests')
);

foreach ($roles as $role) {
    $acl->addRole($role);
}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample more_components_code code_sharding"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['sharding'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['sharding_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Db\Adapter\Pdo\Mysql as MysqlPdo;
use Phalcon\Db\Adapter\Pdo\PostgreSQL as PostgreSQLPdo;

// {{ site.data.languages[page.language]['sharding_2'] }}
$di->set(
    'dbMysql',
    function () {
        return new MysqlPdo(
            [
                'host'     => 'localhost',
                'username' => 'root',
                'password' => 'secret',
                'dbname'   => 'invo',
            ]
        );
    }
);

// {{ site.data.languages[page.language]['sharding_3'] }}
$di->set(
    'dbPostgres',
    function () {
        return new PostgreSQLPdo(
            [
                'host'     => 'localhost',
                'username' => 'postgres',
                'password' => '',
                'dbname'   => 'invo',
            ]
        );
    }
);
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample more_components_code code_crypt"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['encryption'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['encryption_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Crypt;

// {{ site.data.languages[page.language]['encryption_2'] }}
$crypt     = new Crypt();

$key       = '{{ site.data.languages[page.language]['encryption_3'] }}';
$text      = '{{ site.data.languages[page.language]['encryption_4'] }}';

$encrypted = $crypt->encrypt($text, $key);

echo $crypt->decrypt($encrypted, $key);
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample more_components_code code_events"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['events_management'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['events_management_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Mvc\Dispatcher;
use Phalcon\Events\Manager as EventsManager;

$di->set('dispatcher', function () {

    // {{ site.data.languages[page.language]['events_management_2'] }}
    $eventsManager = new EventsManager();

    // {{ site.data.languages[page.language]['events_management_3'] }}
    $eventsManager->attach('dispatch:beforeExecuteRoute', new SecurityPlugin);

    // {{ site.data.languages[page.language]['events_management_4'] }}
    $eventsManager->attach('dispatch:beforeException', new NotFoundPlugin);

    $dispatcher = new Dispatcher();

    // {{ site.data.languages[page.language]['events_management_5'] }}
    $dispatcher->setEventsManager($eventsManager);

    return $dispatcher;
});
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample more_components_code code_queueing"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['queueing'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['queueing_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Queue\Beanstalk;

// {{ site.data.languages[page.language]['queueing_2'] }}
$queue = new Beanstalk(
    [
        'host' => '192.168.0.21',
        'port' => '11300',
    ]
);

// {{ site.data.languages[page.language]['queueing_3'] }}
$queue->put(
    [
        'processVideo' => 4871,
    ]
);
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
