<section id="feature-section" class="codesamples">
    <div class="container">
        <div class=" col-md-12 white-bg">
            <!-- Features Left -->
            <div class="col-sm-5">
                <h2 class="verticle-line">
                    {{ site.data.languages[page.language]['data_and_storage'] }}
                </h2>
                <ul class="feature-list">
                    <li class="data_storage orm">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['orm'] }}"
                                 alt="{{ site.data.languages[page.language]['orm'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['orm'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['orm_description'] }}"
                            </p>
                        </div>
                    </li>
                    <li class="data_storage phql">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['phql'] }}"
                                 alt="{{ site.data.languages[page.language]['phql'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['phql'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['phql_1'] }}
                            </p>
                        </div>
                    </li>
                    <li class="data_storage odm">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['odm_for_mongi'] }}"
                                 alt="{{ site.data.languages[page.language]['odm_for_mongo'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['odm_for_mongo'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['odm_for_mongo_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="data_storage transactions">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['transactions'] }}"
                                 alt="{{ site.data.languages[page.language]['transactions'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['transactions'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['transactions_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="data_storage cache">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['cache'] }}"
                                 alt="{{ site.data.languages[page.language]['cache'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['cache'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['cache_description'] }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-7">
                <div class="codesample data_storage_code code_orm">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['orm'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['orm_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Mvc\Model;

class Robots extends Model
{
    public $id;

    public $name;

    public function initialize()
    {
        $this->hasMany('id', 'RobotsParts', 'robots_id');
    }
}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample data_storage_code code_phql"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['phql'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['phql_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
$phql  = 'SELECT * FROM Formula\Cars ORDER BY Formula\Cars.name';
$query = $manager->createQuery($phql);

$phql  = 'SELECT Formula\Cars.name FROM Formula\Cars ORDER BY Formula\Cars.name';
$query = $manager->createQuery($phql);

$phql  = 'SELECT c.name FROM Formula\Cars c ORDER BY c.name';
$query = $manager->createQuery($phql);

$phql = 'SELECT c.* FROM Cars AS c ORDER BY c.name';
$cars = $manager->executeQuery($phql);
foreach ($cars as $car) {
    echo "Name: ", $car->name, "\n";
}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample data_storage_code code_odm"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['odm_for_mongo'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['odm_for_mongo_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
// {{ site.data.languages[page.language]['odm_for_mongo_2'] }}
$robots = Robots::find();
echo "{{ site.data.languages[page.language]['odm_for_mongo_4'] }}\n";

// {{ site.data.languages[page.language]['odm_for_mongo_3'] }}
$robots = Robots::find(
    array(
        array(
            "type" => "mechanical"
        )
    )
);
echo "{{ site.data.languages[page.language]['odm_for_mongo_4'] }}\n";
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample data_storage_code code_transactions"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['transactions'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['transactions_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Mvc\Model\Transaction\Failed as TxFailed;
use Phalcon\Mvc\Model\Transaction\Manager as TxManager;

try {

    // {{ site.data.languages[page.language]['transactions_2'] }}
    $manager     = new TxManager();

    // {{ site.data.languages[page.language]['transactions_3'] }}
    $transaction = $manager->get();

    // {{ site.data.languages[page.language]['transactions_4'] }}
    foreach (Robots::find("type = 'mechanical'") as $robot) {
        $robot->setTransaction($transaction);
        if ($robot->delete() == false) {
            // {{ site.data.languages[page.language]['transactions_5'] }}
            foreach ($robot->getMessages() as $message) {
                $transaction->rollback($message->getMessage());
            }
        }
    }

    // {{ site.data.languages[page.language]['transactions_6'] }}
    $transaction->commit();

    echo "{{ site.data.languages[page.language]['transactions_7'] }}";

} catch (TxFailed $e) {
    echo "{{ site.data.languages[page.language]['transactions_8'] }} ", $e->getMessage();
}
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample data_storage_code code_cache"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['cache'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['cache_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Cache\Frontend\Data as FrontendData;
use Phalcon\Cache\Backend\Memcache as BackendMemcache;

// {{ site.data.languages[page.language]['cache_2'] }}
$di->set('modelsCache', function () {

    // {{ site.data.languages[page.language]['cache_3'] }}
    $frontCache = new FrontendData(
        [
            'lifetime' => 86400,
        ]
    );

    // {{ site.data.languages[page.language]['cache_4'] }}
    $cache = new BackendMemcache(
        $frontCache,
        [
            'host' => 'localhost',
            'port' => '11211',
        ]
    );

    return $cache;
});
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
