<section id="feature-section" class="codesamples">
    <div class="container">
        <div class="col-md-12 white-bg">
            <!-- Features Left -->
            <div class="col-sm-5">
                <h2 class="verticle-line">
                    {{ site.data.languages[page.language]['basic_features'] }}
                </h2>
                <ul class="feature-list">
                    <li class="basic_features low_overhead">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['low_overhead'] }}"
                                 alt="{{ site.data.languages[page.language]['low_overhead'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['low_overhead'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['low_overhead_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="basic_features mvc">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['mvc_hmvc'] }}"
                                 alt="{{ site.data.languages[page.language]['mvc_hmvc'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['mvc_hmvc'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['mvc_hmvc_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="basic_features di">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['dependency_injection'] }}"
                                 alt="{{ site.data.languages[page.language]['dependency_injection'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['dependency_injection'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['dependency_injection_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="basic_features rest">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['rest'] }}"
                                 alt="{{ site.data.languages[page.language]['rest'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['rest'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['rest_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="basic_features autoloader">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['auto_loader'] }}"
                                 alt="{{ site.data.languages[page.language]['auto_loader'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['auto_loader'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['auto_loader_description'] }}
                            </p>
                        </div>
                    </li>
                    <li class="basic_features router">
                        <div class="feature-bullet">
                            <img src='/assets/images/favorite.png'
                                 title="{{ site.data.languages[page.language]['router'] }}"
                                 alt="{{ site.data.languages[page.language]['router'] }}"
                                 class="img-star"/>
                        </div>
                        <div class="feature-content">
                            <h3>
                                {{ site.data.languages[page.language]['router'] }}
                            </h3>
                            <p>
                                {{ site.data.languages[page.language]['router_description'] }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /End Features Left -->

            <!-- Features Right -->
            <div class="col-sm-7">
                <div class="codesample basic_features_code code_low_overhead">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['low_overhead'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="text-center">
                                    {{ site.data.languages[page.language]['low_overhead_title'] }}
                                </h3>
                                <ul class="features features-positive">
                                    <li>
                                        {{ site.data.languages[page.language]['low_overhead_1'] }}
                                    </li>
                                    <li>
                                        {{ site.data.languages[page.language]['low_overhead_2'] }}
                                    </li>
                                    <li>
                                        {{ site.data.languages[page.language]['low_overhead_3'] }}
                                    </li>
                                    <li>
                                        {{ site.data.languages[page.language]['low_overhead_4'] }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample basic_features_code code_mvc"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['mvc'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['mvc_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <pre>
                                    <code class="php">
single/
    app/
        controllers/
        models/
        views/
    public/
        css/
        img/
        js/

                                    </code>
                                </pre>
                            </div>
                            <div class="col-xs-6">
                                <pre>
                                    <code class="php">
multiple/
     apps/
       frontend/
          controllers/
          models/
          views/
          Module.php
       backend/
          controllers/
          models/
          views/
          Module.php
       public/
       ../
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample basic_features_code code_di"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['dependency_injection'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['dependency_injection_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
// {{ site.data.languages[page.language]['dependency_injection_2'] }}
$di = new Phalcon\DI();

// {{ site.data.languages[page.language]['dependency_injection_3'] }}
$di->set("request", new Phalcon\Http\Request());

..

// {{ site.data.languages[page.language]['dependency_injection_4'] }}
$request = $di->getShared('request');
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample basic_features_code code_rest"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['restful_services'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['restful_services_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Mvc\Micro;

$app = new Micro();

// {{ site.data.languages[page.language]['restful_services_2'] }}
$app->get(
    '/check/status',
    function () {
        return $this->response->setJsonContent(
            [
                'status' => 'important',
            ]
        );
    }
);

$app->handle();
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample basic_features_code code_autoloader"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['auto_loader'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['auto_loader_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
use Phalcon\Loader;

// {{ site.data.languages[page.language]['auto_loader_2'] }}
$loader = new Loader();

// {{ site.data.languages[page.language]['auto_loader_3'] }}
$loader->registerNamespaces(
    [
       'Example\Base'    => 'vendor/example/base/',
       'Example\Adapter' => 'vendor/example/adapter/',
       'Example'         => 'vendor/example/',
    ]
);

// {{ site.data.languages[page.language]['auto_loader_4'] }}
$loader->register();
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="codesample basic_features_code code_router"
                     style="display:none">
                    <div class="codesample-header">
                        <h3>
                            {{ site.data.languages[page.language]['router'] }}
                        </h3>
                    </div>
                    <div class="codesample-body">
                        <p>
                            {{ site.data.languages[page.language]['router_1'] }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12">
                                <pre>
                                    <code class="php">
// {{ site.data.languages[page.language]['router_2'] }}
$router = new \Phalcon\Mvc\Router();

// {{ site.data.languages[page.language]['router_3'] }}
$router->add(
   '/admin/users/my-profile',
   [
       'controller' => 'users',
       'action'     => 'profile',
   ]
);
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /End Features Right -->
        </div>
    </div>
</section>
