<footer class="footer">
    <div class="container">
        <ul class="footer-nav">
            <li><a href="https://phalcon.io/forum">{{- site.data.languages[page.language]['forum'] -}}</a></li>
            <li><a href="https://phalcon.io/blog">{{- site.data.languages[page.language]['blog'] -}}</a></li>
            <li><a href="https://phalcon.io/discord">Discord</a></li>
            <li><a href="https://phalcon.io/telegram">Telegram</a></li>
            <li><a href="https://phalcon.io/gab">Gab</a></li>
            <li><a href="https://phalcon.io/parler">Parler</a></li>
            <li><a href="https://phalcon.io/mewe">MeWe</a></li>
            <li><a href="https://phalcon.io/f">Facebook</a></li>
            <li><a href="https://phalcon.io/t">Twitter</a></li>
            <li><a href="https://phalcon.io/bitchute">Bitchute</a></li>
            <li><a href="https://phalcon.io/lbry">LBRY</a></li>
            <li><a href="https://phalcon.io/youtube">YouTube</a></li>
        </ul>

        <div class="footer__license">
            {{ site.data.languages[page.language]['license_new_bsd'] }}
        </div>

        <div class="footer__supported">
            <span>{{ site.data.languages[page.language]['development'] }}</span>
            <a href="https://odva.pro" class="footer__supported-logo">
                <svg width="38" height="31" viewBox="0 0 38 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.375 29.3529C22.9283 29.3529 29.0514 23.2298 29.0514 15.6765C29.0514 8.12317 22.9283 2 15.375 2C7.82165 2 1.69849 8.12317 1.69849 15.6765C1.69849 23.2298 7.82165 29.3529 15.375 29.3529Z" stroke="#273646" stroke-opacity="0.7" stroke-width="3"/>
                    <path d="M33.9044 23.6177H32.1397V30.6765H33.9044V23.6177Z" fill="#273646" fill-opacity="0.7"/>
                    <path d="M37.4338 23.6177H35.6691V30.6765H37.4338V23.6177Z" fill="#273646" fill-opacity="0.7"/>
                </svg>
            </a>
        </div>
    </div>
</footer>


<!--                    {{ site.data.languages[page.language]['download'] }}-->
<!--                        <a href="/{{ page.language }}/download">-->
<!--                            {{ site.data.languages[page.language]['installing_phalcon_php'] }}-->
<!--                        <a href="https://docs.phalcon.io/en/3.4"-->
<!--                           class="header-nav-link"-->
<!--                           target="_blank">-->
<!--                            {{ site.data.languages[page.language]['documentation'] }}-->
<!--                        <a href="https://docs.phalcon.io/en/3.4/api/"-->
<!--                           class="header-nav-link">-->
<!--                            API-->
<!--                        <a href="https://docs.phalcon.io/en/3.4/tutorial-base">-->
<!--                            {{ site.data.languages[page.language]['tutorial'] }}-->
<!--                        <a href="/{{ page.language }}/support">-->
<!--                            {{ site.data.languages[page.language]['support'] }}-->
<!--                    {{ site.data.languages[page.language]['community'] }}-->
<!--                        <a href="https://phalcon.io/forum"-->
<!--                           class="header-nav-link" target="_blank">-->
<!--                            {{ site.data.languages[page.language]['forum'] }}-->
<!--                        <a href="https://phalcon.io/github">-->
<!--                            GitHub-->
<!--                        <a href="https://github.com/phalcon/cphalcon/issues">-->
<!--                            {{ site.data.languages[page.language]['issue_tracker'] }}-->
<!--                        <a href="https://stackoverflow.com/questions/tagged/phalcon">-->
<!--                            Stack Overflow-->
<!--                        <a href="/{{ page.language }}/testimonials">-->
<!--                            {{ site.data.languages[page.language]['testimonials'] }}-->
<!--                        <a href="https://phalcon.io/builtwith">-->
<!--                            {{ site.data.languages[page.language]['built_with_phalcon'] }}-->
<!--                        <a href="https://phalcon.io/store">-->
<!--                            {{ site.data.languages[page.language]['store'] }}-->
<!--                    {{ site.data.languages[page.language]['about'] }}-->
<!--                        <a class="link-black" href="https://phalcon.io/blog">-->
<!--                            {{ site.data.languages[page.language]['blog'] }}-->
<!--                        <a class="link-black" href="/{{ page.language }}/about">-->
<!--                            {{ site.data.languages[page.language]['about'] }}-->
<!--                        <a class="link-black" href="/{{ page.language }}/team">-->
<!--                            {{ site.data.languages[page.language]['team'] }}-->
<!--                        <a class="link-black"-->
<!--                           href="https://phalcon.io/donate">-->
<!--                            {{ site.data.languages[page.language]['donate'] }}-->
<!--                        <a class="link-black"-->
<!--                           href="/{{ page.language }}/consulting">-->
<!--                            {{ site.data.languages[page.language]['consulting'] }}-->
<!--                        <a class="link-black" href="/{{ page.language }}/hosting">-->
<!--                            {{ site.data.languages[page.language]['hosting'] }}-->
<!--            <div id="license-spaccer" class="visible-xs"></div>-->
<!--            <div id="license-wrapper" class="col-xs-12 col-sm-4">-->
<!--                <p class="license">-->
<!--                    {{ site.data.languages[page.language]['license_new_bsd'] }}-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
