<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="/assets/js/plugins/jquery.lazyload.min.js"></script>
<script type="text/javascript"
        src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script type="text/javascript"
        src="/assets/js/plugins/highlight.pack.js"></script>
<script type="text/javascript"
        src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript"
        src="/assets/js/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript"
        src="/assets/js/custom.js"></script>
