    <script src="https://assets.phalcon.io/phalcon/js/core.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/algoliasearch@4.17.0/dist/algoliasearch-lite.umd.js"
            integrity="sha256-Lf9DrpGmcRip6OQzbcL6lnvNmoZNSKpyQX5pMlwatWE="
            crossorigin="anonymous"
    ></script>

    <!-- default version -->
    <script
            src="https://cdn.jsdelivr.net/npm/algoliasearch@4.17.0/dist/algoliasearch.umd.js"
            integrity="sha256-4VKW0mBKZ+L5cl5Ln97mb+7rHephtIsGu06NioLZ1JQ="
            crossorigin="anonymous"
    ></script>

    <script>
        var algoliaConfig = {
            index_name: '{{ site.algolia.index_name }}',
            application_id: '{{ site.algolia.application_id }}',
            search_only_api_key: '{{ site.algolia.search_only_api_key }}',
            algoliaOptions: {
                'facetFilters': [
                    "lang:{{ page.language | default: en }}"
                ]
            }
            
        };
    </script>
    <script src="/assets/js/search.js"></script>
