        <div class="join">
            <div class="join__title">
                {{ site.data.languages[page.language]['join_our_community'] }}
            </div>
            <div class="join__descr">
                {{ site.data.languages[page.language]['join_our_community_description'] }}
            </div>

            <div class="join__buttons">
                <a href="https://phalcon.io/discord" class="black-button">
                    Discord
                </a>
                <a href="https://phalcon.io/forum" class="black-button">
                    {{ site.data.languages[page.language]['forum'] }}
                </a>
                <a href="https://phalcon.io/github" class="black-button">
                    GitHub
                </a>
                <a href="https://phalcon.io/so" class="black-button">
                    Stack Overflow
                </a>
            </div>
        </div>
