
                    <li class="dropdown lang-wrapper">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <img class="flag-item"
                                 src="/assets/images/flags/{{ page.language }}.png"
                                 alt="{{ page.language }}">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu lang-dropdown" role="menu">
                            <li role="presentation" class="dropdown-link">
                                {% assign fromLink = '/' | append: page.language %}
                                {% assign languageData = site.data.languages | sort %}
                                {% for lang in languageData %}
                                {% assign menuPage = page.permalink | replace: fromLink, '' %}
                                <a href="/{{ lang[0] }}{{ menuPage }}"
                                   class="flag-item flag-{{ lang[0] }}" tabindex="-1"
                                   role="menuitem">
                                    {{ lang[1]['language_text'] }}
                                </a>{% endfor %}
                        </ul>
                    </li>
