.sponsors__item {
    padding: 13px 14px;
    height: 60px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid rgba(39, 54, 70, .4);
}

.info-block__img img {
    padding: 5px;
}

.modes {
    margin-right: 1rem;
}

[data-mode] {
    display: inline-block;
    cursor: pointer;
    border-radius: calc(.5rem / 2);
    padding: .2rem .4rem;
}
[data-mode].active {
    color: #ffffff;
    background-color: #8fc19a;
}