:root {
    --background-color: #121212;
    --primary-color: #eee;
}

[data-theme="dark"] {
    --background-color: #121212;
    --primary-color: #eee;
}

[color-scheme="light"] {
    --background-color: white;
    --primary-color: #1c1c1e;
}

[data-color-scheme-option="light"] .light-dark-auto-button:nth-child(1) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

[data-color-scheme-option="dark"] .light-dark-auto-button:nth-child(2) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

[data-color-scheme-option="auto"] .light-dark-auto-button:nth-child(3) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

.light-dark-auto-switcher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    width: fit-content;
    height: 40px;
    margin-left: auto;
    padding: 1px 2px;
    margin-right: 10px;
    border: 1px solid #8e8e93;
    border-radius: 90px;
    background-color: transparent;
    border-color: #8e8e93;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .light-dark-auto-switcher {
        display: none;
    }

    .header-nav--mobile .light-dark-auto-switcher {
        display: flex;
        margin-left: 0;
        margin-bottom: 25px;
        margin-top: 5px;
    }
}

.light-dark-auto-button {
    display: flex;
    width: 48px;
    height: 24px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    border: 3px #fff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border: 3px solid transparent;
}

[data-theme="dark"] .phalcon-blog,
[data-theme="dark"] body,
[data-theme="dark"] .base-info {
    background-color: #1e2129;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6,
[data-theme="dark"] p ,
[data-theme="dark"] ul li,
[data-theme="dark"] ol li,
[data-theme="dark"] .phalcon-blog__title,
[data-theme="dark"] .phalcon-blog__projects-text,
[data-theme="dark"] .phalcon-blog__main-title,
[data-theme="dark"] .header-dropdown li a,
[data-theme="dark"] .tag-button,
[data-theme="dark"] .phalcon-blog-detail table th,
[data-theme="dark"] .phalcon-blog-detail table td,
[data-theme="dark"] .base-info-descr__first,
[data-theme="dark"] .base-info-descr__second,
[data-theme="dark"] .watch-demo__title,
[data-theme="dark"] .watch-demo__descr,
[data-theme="dark"] .join__title,
[data-theme="dark"] .join__descr,
[data-theme="dark"] .contributors__top,
[data-theme="dark"] .feature__title,
[data-theme="dark"] .feature__descr,
[data-theme="dark"] .buildwith-nav__list a,
[data-theme="dark"] .features-nav__list li {
    color: #e2e4e9d1;
}

[data-theme="dark"] .phalcon-blog a,
[data-theme="dark"] main a {
    color: #00bda4;
}

[data-theme="dark"] .phalcon-blog__sponsors-item,
[data-theme="dark"] .sponsors__item {
    background-color: #ffffffb3;
}

[data-theme="dark"] .footer {
    background-color: #17191e;
}

[data-theme="dark"] .footer__license,
[data-theme="dark"] .footer__supported span,
[data-theme="dark"] .footer-nav li a,
[data-theme="dark"] .previous,
[data-theme="dark"] .page_number,
[data-theme="dark"] .next,
[data-theme="dark"] .green-button,
[data-theme="dark"] .features-nav__list li.active,
[data-theme="dark"] .info .buildwith-nav__list li.active a,
[data-theme="dark"] .header-nav--mobile a,
[data-theme="dark"] .alert-warning,
[data-theme="dark"] .info blockquote cite,
[data-theme="dark"] .features-accordion__trigger {
    color: #ffffff;
}

[data-theme="dark"] .footer__supported-logo svg,
[data-theme="dark"] .footer__supported-logo svg path {
    stroke: #ffffff;
}

[data-theme="dark"] .phalcon-blog__sponsors-item:hover,
[data-theme="dark"] .header-dropdown li a:hover {
    border-color: #00bda4;
}

[data-theme="dark"] .phalcon-blog__sponsors-item span {
    color: #000000;
}

[data-theme="dark"] .header-dropdown--eco {
    background-color: #1e2129;
    border-color: #1e2129;
}

[data-theme="dark"] .header-nav>li a,
[data-theme="dark"] .footer-nav li a {
    opacity: 0.7;
}

[data-theme="dark"] .header a:hover,
[data-theme="dark"] .header-nav>li.active>a,
[data-theme="dark"] .header-nav>li:hover>a,
[data-theme="dark"] .header-dropdown li a:hover,
[data-theme="dark"] .footer-nav li a:hover {
    opacity: 1;
    color: #ffffff;
}

[data-theme="dark"] .light-dark-auto-button:hover {
    color: #00bda4 !important;
}

[data-theme="dark"] .phalcon-blog__item-date,
[data-theme="dark"] .phalcon-blog__item-author {
    color: #bfbfbfd1;
}

[data-theme="dark"] .phalcon-blog__tags-item span:first-child {
    color: #e2e4e98f;
}

[data-theme="dark"] .phalcon-blog__right .phalcon-blog__tags-items .phalcon-blog__tags-item {
    border-color: #385b56;
}

[data-theme="dark"] .phalcon-blog-detail table td {
    border-color: #e2e4e9d1;
}

[data-theme="dark"] .buildwith-nav__list li.active hr,
[data-theme="dark"] .features-nav__list li.active hr{
    background-color: #ffffff;
}

[data-theme="dark"] .buildwith-nav__list li.active:hover hr,
[data-theme="dark"] .features-nav__list li:hover hr,
[data-theme="dark"] .buildwith-nav__list li:hover hr {
    background-color: #ffffff;
}

[data-theme="dark"] .info .buildwith-nav__list li:hover a,
[data-theme="dark"] .features-nav__list li span:hover {
    color: #ffffff;
}

[data-theme="dark"] .header-dropdown--lang {
    background-color: #1e2129;
    border-color: #1e2129;
}

[data-theme="dark"] .info-block__img img {
    background-color: #ffffff;
}
