:root {
    --background-color: #121212;
    --primary-color: #eee;
}

.dark {
    --background-color: #121212;
    --primary-color: #eee;
}

[color-scheme="light"] {
    --background-color: white;
    --primary-color: #1c1c1e;
}

[data-color-scheme-option="light"] .light-dark-auto-button:nth-child(1) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

[data-color-scheme-option="dark"] .light-dark-auto-button:nth-child(2) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

[data-color-scheme-option="auto"] .light-dark-auto-button:nth-child(3) {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

.light-dark-auto-switcher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    width: fit-content;
    height: 40px;
    margin-left: auto;
    padding: 1px 2px;
    margin-right: 10px;
    border: 1px solid #8e8e93;
    border-radius: 90px;
    background-color: transparent;
    border-color: #8e8e93;
    user-select: none;
}

@media screen and (max-width: 767px) {
    .light-dark-auto-switcher {
        display: none;
    }

    .header-nav--mobile .light-dark-auto-switcher {
        display: flex;
        margin-left: 0;
        margin-bottom: 25px;
        margin-top: 5px;
    }
}

.light-dark-auto-button {
    display: flex;
    width: 48px;
    height: 24px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    border: 3px #fff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border: 3px solid transparent;
}

.dark .phalcon-blog,
.dark body,
.dark .base-info {
    background-color: #1e2129;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p ,
.dark ul li,
.dark ol li,
.dark .phalcon-blog__title,
.dark .phalcon-blog__projects-text,
.dark .phalcon-blog__main-title,
.dark .header-dropdown li a,
.dark .tag-button,
.dark .phalcon-blog-detail table th,
.dark .phalcon-blog-detail table td,
.dark .base-info-descr__first,
.dark .base-info-descr__second,
.dark .watch-demo__title,
.dark .watch-demo__descr,
.dark .join__title,
.dark .join__descr,
.dark .contributors__top,
.dark .feature__title,
.dark .feature__descr,
.dark .buildwith-nav__list a,
.dark .features-nav__list li {
    color: #e2e4e9d1;
}

.dark .phalcon-blog a,
.dark main a {
    color: #00bda4;
}

.dark .phalcon-blog__sponsors-item,
.dark .sponsors__item {
    background-color: #ffffffb3;
}

.dark .footer {
    background-color: #17191e;
}

.dark .footer__license,
.dark .footer__supported span,
.dark .footer-nav li a,
.dark .previous,
.dark .page_number,
.dark .next,
.dark .green-button,
.dark .features-nav__list li.active,
.dark .info .buildwith-nav__list li.active a,
.dark .header-nav--mobile a,
.dark .alert-warning,
.dark .info blockquote cite,
.dark .features-accordion__trigger {
    color: #ffffff;
}

.dark .footer__supported-logo svg,
.dark .footer__supported-logo svg path {
    stroke: #ffffff;
}

.dark .phalcon-blog__sponsors-item:hover,
.dark .header-dropdown li a:hover {
    border-color: #00bda4;
}

.dark .phalcon-blog__sponsors-item span {
    color: #000000;
}

.dark .header-dropdown--eco {
    background-color: #1e2129;
    border-color: #1e2129;
}

.dark .header-nav>li a,
.dark .footer-nav li a {
    opacity: 0.7;
}

.dark .header a:hover,
.dark .header-nav>li.active>a,
.dark .header-nav>li:hover>a,
.dark .header-dropdown li a:hover,
.dark .footer-nav li a:hover {
    opacity: 1;
    color: #ffffff;
}

.dark .light-dark-auto-button:hover {
    color: #00bda4 !important;
}

.dark .phalcon-blog__item-date,
.dark .phalcon-blog__item-author {
    color: #bfbfbfd1;
}

.dark .phalcon-blog__tags-item span:first-child {
    color: #e2e4e98f;
}

.dark .phalcon-blog__right .phalcon-blog__tags-items .phalcon-blog__tags-item {
    border-color: #385b56;
}

.dark .phalcon-blog-detail table td {
    border-color: #e2e4e9d1;
}

.dark .buildwith-nav__list li.active hr,
.dark .features-nav__list li.active hr{
    background-color: #ffffff;
}

.dark .buildwith-nav__list li.active:hover hr,
.dark .features-nav__list li:hover hr,
.dark .buildwith-nav__list li:hover hr {
    background-color: #ffffff;
}

.dark .info .buildwith-nav__list li:hover a,
.dark .features-nav__list li span:hover {
    color: #ffffff;
}

.dark .header-dropdown--lang {
    background-color: #1e2129;
    border-color: #1e2129;
}

.dark .info-block__img img {
    background-color: #ffffff;
}
