.flag-item {
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: 15px;
    width: 20px;
}

.flag-ar-sa { background-image: url("/assets/images/flags/ar-sa.png"); }
.flag-bg-bg { background-image: url("/assets/images/flags/bg-bg.png"); }
.flag-ca-es { background-image: url("/assets/images/flags/ca-es.png"); }
.flag-cs-cz { background-image: url("/assets/images/flags/cs-cz.png"); }
.flag-da-dk { background-image: url("/assets/images/flags/da-dk.png"); }
.flag-de-de { background-image: url("/assets/images/flags/de-de.png"); }
.flag-el-gr { background-image: url("/assets/images/flags/el-gr.png"); }
.flag-en-us { background-image: url("/assets/images/flags/en-us.png"); }
.flag-es-es { background-image: url("/assets/images/flags/es-es.png"); }
.flag-fa-ir { background-image: url("/assets/images/flags/fa-ir.png"); }
.flag-fr-fr { background-image: url("/assets/images/flags/fr-fr.png"); }
.flag-hu-hu { background-image: url("/assets/images/flags/hu-hu.png"); }
.flag-hy-am { background-image: url("/assets/images/flags/hy-am.png"); }
.flag-id-id { background-image: url("/assets/images/flags/id-id.png"); }
.flag-it-it { background-image: url("/assets/images/flags/it-it.png"); }
.flag-ja-jp { background-image: url("/assets/images/flags/ja-jp.png"); }
.flag-kk-kz { background-image: url("/assets/images/flags/kk-kz.png"); }
.flag-km-kh { background-image: url("/assets/images/flags/km-kh.png"); }
.flag-ko-kr { background-image: url("/assets/images/flags/ko-kr.png"); }
.flag-lt-lt { background-image: url("/assets/images/flags/lt-lt.png"); }
.flag-lv-lv { background-image: url("/assets/images/flags/lv-lv.png"); }
.flag-nl-nl { background-image: url("/assets/images/flags/nl-nl.png"); }
.flag-no-no { background-image: url("/assets/images/flags/no-no.png"); }
.flag-pl-pl { background-image: url("/assets/images/flags/pl-pl.png"); }
.flag-pt-pt { background-image: url("/assets/images/flags/pt-pt.png"); }
.flag-ro-ro { background-image: url("/assets/images/flags/ro-ro.png"); }
.flag-ru-ru { background-image: url("/assets/images/flags/ru-ru.png"); }
.flag-sk-sk { background-image: url("/assets/images/flags/sk-sk.png"); }
.flag-sv-se { background-image: url("/assets/images/flags/sv-se.png"); }
.flag-th-th { background-image: url("/assets/images/flags/th-th.png"); }
.flag-tl-ph { background-image: url("/assets/images/flags/tl-ph.png"); }
.flag-tr-tr { background-image: url("/assets/images/flags/tr-tr.png"); }
.flag-uk-ua { background-image: url("/assets/images/flags/uk-ua.png"); }
.flag-vi-vn { background-image: url("/assets/images/flags/vi-vn.png"); }
.flag-zh-cn { background-image: url("/assets/images/flags/zh-cn.png"); }

