.flag-item {
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: 15px;
}
.flag-ad { background-image: url("/assets/images/flags/ad.png"); }
.flag-ae { background-image: url("/assets/images/flags/ae.png"); }
.flag-af { background-image: url("/assets/images/flags/af.png"); }
.flag-ag { background-image: url("/assets/images/flags/ag.png"); }
.flag-ai { background-image: url("/assets/images/flags/ai.png"); }
.flag-al { background-image: url("/assets/images/flags/al.png"); }
.flag-am { background-image: url("/assets/images/flags/am.png"); }
.flag-an { background-image: url("/assets/images/flags/an.png"); }
.flag-ao { background-image: url("/assets/images/flags/ao.png"); }
.flag-ar { background-image: url("/assets/images/flags/ar.png"); }
.flag-as { background-image: url("/assets/images/flags/as.png"); }
.flag-at { background-image: url("/assets/images/flags/at.png"); }
.flag-au { background-image: url("/assets/images/flags/au.png"); }
.flag-aw { background-image: url("/assets/images/flags/aw.png"); }
.flag-ax { background-image: url("/assets/images/flags/ax.png"); }
.flag-az { background-image: url("/assets/images/flags/az.png"); }
.flag-ba { background-image: url("/assets/images/flags/ba.png"); }
.flag-bb { background-image: url("/assets/images/flags/bb.png"); }
.flag-bd { background-image: url("/assets/images/flags/bd.png"); }
.flag-be { background-image: url("/assets/images/flags/be.png"); }
.flag-bf { background-image: url("/assets/images/flags/bf.png"); }
.flag-bg { background-image: url("/assets/images/flags/bg.png"); }
.flag-bh { background-image: url("/assets/images/flags/bh.png"); }
.flag-bi { background-image: url("/assets/images/flags/bi.png"); }
.flag-bj { background-image: url("/assets/images/flags/bj.png"); }
.flag-bm { background-image: url("/assets/images/flags/bm.png"); }
.flag-bn { background-image: url("/assets/images/flags/bn.png"); }
.flag-bo { background-image: url("/assets/images/flags/bo.png"); }
.flag-br { background-image: url("/assets/images/flags/br.png"); }
.flag-bs { background-image: url("/assets/images/flags/bs.png"); }
.flag-bt { background-image: url("/assets/images/flags/bt.png"); }
.flag-bv { background-image: url("/assets/images/flags/bv.png"); }
.flag-bw { background-image: url("/assets/images/flags/bw.png"); }
.flag-by { background-image: url("/assets/images/flags/by.png"); }
.flag-bz { background-image: url("/assets/images/flags/bz.png"); }
.flag-ca { background-image: url("/assets/images/flags/ca.png"); }
.flag-catalonia { background-image: url("/assets/images/flags/catalonia.png"); }
.flag-cc { background-image: url("/assets/images/flags/cc.png"); }
.flag-cd { background-image: url("/assets/images/flags/cd.png"); }
.flag-cf { background-image: url("/assets/images/flags/cf.png"); }
.flag-cg { background-image: url("/assets/images/flags/cg.png"); }
.flag-ch { background-image: url("/assets/images/flags/ch.png"); }
.flag-ci { background-image: url("/assets/images/flags/ci.png"); }
.flag-ck { background-image: url("/assets/images/flags/ck.png"); }
.flag-cl { background-image: url("/assets/images/flags/cl.png"); }
.flag-cm { background-image: url("/assets/images/flags/cm.png"); }
.flag-co { background-image: url("/assets/images/flags/co.png"); }
.flag-cr { background-image: url("/assets/images/flags/cr.png"); }
.flag-cs { background-image: url("/assets/images/flags/cs.png"); }
.flag-cu { background-image: url("/assets/images/flags/cu.png"); }
.flag-cv { background-image: url("/assets/images/flags/cv.png"); }
.flag-cx { background-image: url("/assets/images/flags/cx.png"); }
.flag-cy { background-image: url("/assets/images/flags/cy.png"); }
.flag-cz { background-image: url("/assets/images/flags/cz.png"); }
.flag-de { background-image: url("/assets/images/flags/de.png"); }
.flag-dj { background-image: url("/assets/images/flags/dj.png"); }
.flag-dk { background-image: url("/assets/images/flags/dk.png"); }
.flag-dm { background-image: url("/assets/images/flags/dm.png"); }
.flag-do { background-image: url("/assets/images/flags/do.png"); }
.flag-dz { background-image: url("/assets/images/flags/dz.png"); }
.flag-ec { background-image: url("/assets/images/flags/ec.png"); }
.flag-ee { background-image: url("/assets/images/flags/ee.png"); }
.flag-eg { background-image: url("/assets/images/flags/eg.png"); }
.flag-eh { background-image: url("/assets/images/flags/eh.png"); }
.flag-el { background-image: url("/assets/images/flags/el.png"); }
.flag-en { background-image: url("/assets/images/flags/en.png"); }
.flag-england { background-image: url("/assets/images/flags/england.png"); }
.flag-er { background-image: url("/assets/images/flags/er.png"); }
.flag-es { background-image: url("/assets/images/flags/es.png"); }
.flag-et { background-image: url("/assets/images/flags/et.png"); }
.flag-europeanunion { background-image: url("/assets/images/flags/europeanunion.png"); }
.flag-fa { background-image: url("/assets/images/flags/fa.png"); }
.flag-fam { background-image: url("/assets/images/flags/fam.png"); }
.flag-fi { background-image: url("/assets/images/flags/fi.png"); }
.flag-fj { background-image: url("/assets/images/flags/fj.png"); }
.flag-fk { background-image: url("/assets/images/flags/fk.png"); }
.flag-fm { background-image: url("/assets/images/flags/fm.png"); }
.flag-fo { background-image: url("/assets/images/flags/fo.png"); }
.flag-fr { background-image: url("/assets/images/flags/fr.png"); }
.flag-ga { background-image: url("/assets/images/flags/ga.png"); }
.flag-gb { background-image: url("/assets/images/flags/gb.png"); }
.flag-gd { background-image: url("/assets/images/flags/gd.png"); }
.flag-ge { background-image: url("/assets/images/flags/ge.png"); }
.flag-gf { background-image: url("/assets/images/flags/gf.png"); }
.flag-gh { background-image: url("/assets/images/flags/gh.png"); }
.flag-gi { background-image: url("/assets/images/flags/gi.png"); }
.flag-gl { background-image: url("/assets/images/flags/gl.png"); }
.flag-gm { background-image: url("/assets/images/flags/gm.png"); }
.flag-gn { background-image: url("/assets/images/flags/gn.png"); }
.flag-gp { background-image: url("/assets/images/flags/gp.png"); }
.flag-gq { background-image: url("/assets/images/flags/gq.png"); }
.flag-gs { background-image: url("/assets/images/flags/gs.png"); }
.flag-gt { background-image: url("/assets/images/flags/gt.png"); }
.flag-gu { background-image: url("/assets/images/flags/gu.png"); }
.flag-gw { background-image: url("/assets/images/flags/gw.png"); }
.flag-gy { background-image: url("/assets/images/flags/gy.png"); }
.flag-hk { background-image: url("/assets/images/flags/hk.png"); }
.flag-hm { background-image: url("/assets/images/flags/hm.png"); }
.flag-hn { background-image: url("/assets/images/flags/hn.png"); }
.flag-hr { background-image: url("/assets/images/flags/hr.png"); }
.flag-ht { background-image: url("/assets/images/flags/ht.png"); }
.flag-hu { background-image: url("/assets/images/flags/hu.png"); }
.flag-id { background-image: url("/assets/images/flags/id.png"); }
.flag-ie { background-image: url("/assets/images/flags/ie.png"); }
.flag-il { background-image: url("/assets/images/flags/il.png"); }
.flag-in { background-image: url("/assets/images/flags/in.png"); }
.flag-io { background-image: url("/assets/images/flags/io.png"); }
.flag-iq { background-image: url("/assets/images/flags/iq.png"); }
.flag-is { background-image: url("/assets/images/flags/is.png"); }
.flag-it { background-image: url("/assets/images/flags/it.png"); }
.flag-ja { background-image: url("/assets/images/flags/ja.png"); }
.flag-jm { background-image: url("/assets/images/flags/jm.png"); }
.flag-jo { background-image: url("/assets/images/flags/jo.png"); }
.flag-ke { background-image: url("/assets/images/flags/ke.png"); }
.flag-kg { background-image: url("/assets/images/flags/kg.png"); }
.flag-kh { background-image: url("/assets/images/flags/kh.png"); }
.flag-ki { background-image: url("/assets/images/flags/ki.png"); }
.flag-km { background-image: url("/assets/images/flags/km.png"); }
.flag-kn { background-image: url("/assets/images/flags/kn.png"); }
.flag-ko { background-image: url("/assets/images/flags/ko.png"); }
.flag-kp { background-image: url("/assets/images/flags/kp.png"); }
.flag-kw { background-image: url("/assets/images/flags/kw.png"); }
.flag-ky { background-image: url("/assets/images/flags/ky.png"); }
.flag-kz { background-image: url("/assets/images/flags/kz.png"); }
.flag-la { background-image: url("/assets/images/flags/la.png"); }
.flag-lb { background-image: url("/assets/images/flags/lb.png"); }
.flag-lc { background-image: url("/assets/images/flags/lc.png"); }
.flag-li { background-image: url("/assets/images/flags/li.png"); }
.flag-lk { background-image: url("/assets/images/flags/lk.png"); }
.flag-lr { background-image: url("/assets/images/flags/lr.png"); }
.flag-ls { background-image: url("/assets/images/flags/ls.png"); }
.flag-lt { background-image: url("/assets/images/flags/lt.png"); }
.flag-lu { background-image: url("/assets/images/flags/lu.png"); }
.flag-lv { background-image: url("/assets/images/flags/lv.png"); }
.flag-ly { background-image: url("/assets/images/flags/ly.png"); }
.flag-ma { background-image: url("/assets/images/flags/ma.png"); }
.flag-mc { background-image: url("/assets/images/flags/mc.png"); }
.flag-md { background-image: url("/assets/images/flags/md.png"); }
.flag-me { background-image: url("/assets/images/flags/me.png"); }
.flag-mg { background-image: url("/assets/images/flags/mg.png"); }
.flag-mh { background-image: url("/assets/images/flags/mh.png"); }
.flag-mk { background-image: url("/assets/images/flags/mk.png"); }
.flag-ml { background-image: url("/assets/images/flags/ml.png"); }
.flag-mm { background-image: url("/assets/images/flags/mm.png"); }
.flag-mn { background-image: url("/assets/images/flags/mn.png"); }
.flag-mo { background-image: url("/assets/images/flags/mo.png"); }
.flag-mp { background-image: url("/assets/images/flags/mp.png"); }
.flag-mq { background-image: url("/assets/images/flags/mq.png"); }
.flag-mr { background-image: url("/assets/images/flags/mr.png"); }
.flag-ms { background-image: url("/assets/images/flags/ms.png"); }
.flag-mt { background-image: url("/assets/images/flags/mt.png"); }
.flag-mu { background-image: url("/assets/images/flags/mu.png"); }
.flag-mv { background-image: url("/assets/images/flags/mv.png"); }
.flag-mw { background-image: url("/assets/images/flags/mw.png"); }
.flag-mx { background-image: url("/assets/images/flags/mx.png"); }
.flag-my { background-image: url("/assets/images/flags/my.png"); }
.flag-mz { background-image: url("/assets/images/flags/mz.png"); }
.flag-na { background-image: url("/assets/images/flags/na.png"); }
.flag-nc { background-image: url("/assets/images/flags/nc.png"); }
.flag-ne { background-image: url("/assets/images/flags/ne.png"); }
.flag-nf { background-image: url("/assets/images/flags/nf.png"); }
.flag-ng { background-image: url("/assets/images/flags/ng.png"); }
.flag-ni { background-image: url("/assets/images/flags/ni.png"); }
.flag-nl { background-image: url("/assets/images/flags/nl.png"); }
.flag-no { background-image: url("/assets/images/flags/no.png"); }
.flag-np { background-image: url("/assets/images/flags/np.png"); }
.flag-nr { background-image: url("/assets/images/flags/nr.png"); }
.flag-nu { background-image: url("/assets/images/flags/nu.png"); }
.flag-nz { background-image: url("/assets/images/flags/nz.png"); }
.flag-om { background-image: url("/assets/images/flags/om.png"); }
.flag-pa { background-image: url("/assets/images/flags/pa.png"); }
.flag-pe { background-image: url("/assets/images/flags/pe.png"); }
.flag-pf { background-image: url("/assets/images/flags/pf.png"); }
.flag-pg { background-image: url("/assets/images/flags/pg.png"); }
.flag-ph { background-image: url("/assets/images/flags/ph.png"); }
.flag-pk { background-image: url("/assets/images/flags/pk.png"); }
.flag-pl { background-image: url("/assets/images/flags/pl.png"); }
.flag-pm { background-image: url("/assets/images/flags/pm.png"); }
.flag-pn { background-image: url("/assets/images/flags/pn.png"); }
.flag-pr { background-image: url("/assets/images/flags/pr.png"); }
.flag-ps { background-image: url("/assets/images/flags/ps.png"); }
.flag-pt { background-image: url("/assets/images/flags/pt.png"); }
.flag-pw { background-image: url("/assets/images/flags/pw.png"); }
.flag-py { background-image: url("/assets/images/flags/py.png"); }
.flag-qa { background-image: url("/assets/images/flags/qa.png"); }
.flag-re { background-image: url("/assets/images/flags/re.png"); }
.flag-ro { background-image: url("/assets/images/flags/ro.png"); }
.flag-rs { background-image: url("/assets/images/flags/rs.png"); }
.flag-ru { background-image: url("/assets/images/flags/ru.png"); }
.flag-rw { background-image: url("/assets/images/flags/rw.png"); }
.flag-sa { background-image: url("/assets/images/flags/sa.png"); }
.flag-sb { background-image: url("/assets/images/flags/sb.png"); }
.flag-sc { background-image: url("/assets/images/flags/sc.png"); }
.flag-scotland { background-image: url("/assets/images/flags/scotland.png"); }
.flag-sd { background-image: url("/assets/images/flags/sd.png"); }
.flag-se { background-image: url("/assets/images/flags/se.png"); }
.flag-sg { background-image: url("/assets/images/flags/sg.png"); }
.flag-sh { background-image: url("/assets/images/flags/sh.png"); }
.flag-si { background-image: url("/assets/images/flags/si.png"); }
.flag-sj { background-image: url("/assets/images/flags/sj.png"); }
.flag-sk { background-image: url("/assets/images/flags/sk.png"); }
.flag-sl { background-image: url("/assets/images/flags/sl.png"); }
.flag-sm { background-image: url("/assets/images/flags/sm.png"); }
.flag-sn { background-image: url("/assets/images/flags/sn.png"); }
.flag-so { background-image: url("/assets/images/flags/so.png"); }
.flag-sr { background-image: url("/assets/images/flags/sr.png"); }
.flag-st { background-image: url("/assets/images/flags/st.png"); }
.flag-sv { background-image: url("/assets/images/flags/sv.png"); }
.flag-sy { background-image: url("/assets/images/flags/sy.png"); }
.flag-sz { background-image: url("/assets/images/flags/sz.png"); }
.flag-tc { background-image: url("/assets/images/flags/tc.png"); }
.flag-td { background-image: url("/assets/images/flags/td.png"); }
.flag-tf { background-image: url("/assets/images/flags/tf.png"); }
.flag-tg { background-image: url("/assets/images/flags/tg.png"); }
.flag-th { background-image: url("/assets/images/flags/th.png"); }
.flag-tj { background-image: url("/assets/images/flags/tj.png"); }
.flag-tk { background-image: url("/assets/images/flags/tk.png"); }
.flag-tl { background-image: url("/assets/images/flags/tl.png"); }
.flag-tm { background-image: url("/assets/images/flags/tm.png"); }
.flag-tn { background-image: url("/assets/images/flags/tn.png"); }
.flag-to { background-image: url("/assets/images/flags/to.png"); }
.flag-tr { background-image: url("/assets/images/flags/tr.png"); }
.flag-tt { background-image: url("/assets/images/flags/tt.png"); }
.flag-tv { background-image: url("/assets/images/flags/tv.png"); }
.flag-tw { background-image: url("/assets/images/flags/tw.png"); }
.flag-tz { background-image: url("/assets/images/flags/tz.png"); }
.flag-ua { background-image: url("/assets/images/flags/ua.png"); }
.flag-ug { background-image: url("/assets/images/flags/ug.png"); }
.flag-um { background-image: url("/assets/images/flags/um.png"); }
.flag-uy { background-image: url("/assets/images/flags/uy.png"); }
.flag-uz { background-image: url("/assets/images/flags/uz.png"); }
.flag-va { background-image: url("/assets/images/flags/va.png"); }
.flag-vc { background-image: url("/assets/images/flags/vc.png"); }
.flag-ve { background-image: url("/assets/images/flags/ve.png"); }
.flag-vg { background-image: url("/assets/images/flags/vg.png"); }
.flag-vi { background-image: url("/assets/images/flags/vi.png"); }
.flag-vn { background-image: url("/assets/images/flags/vn.png"); }
.flag-vu { background-image: url("/assets/images/flags/vu.png"); }
.flag-wales { background-image: url("/assets/images/flags/wales.png"); }
.flag-wf { background-image: url("/assets/images/flags/wf.png"); }
.flag-ws { background-image: url("/assets/images/flags/ws.png"); }
.flag-ye { background-image: url("/assets/images/flags/ye.png"); }
.flag-yt { background-image: url("/assets/images/flags/yt.png"); }
.flag-za { background-image: url("/assets/images/flags/za.png"); }
.flag-zh { background-image: url("/assets/images/flags/zh.png"); }
.flag-zm { background-image: url("/assets/images/flags/zm.png"); }
.flag-zw { background-image: url("/assets/images/flags/zw.png"); }
