html.dark .green-button,
html.dark .black-button {
    background-color: #273646;
    color: #ffffff !important;
}

html.dark .green-button:hover,
html.dark .black-button:hover,
html.dark .green-button-light:hover {
    background-color: #000000;
}
