---
layout: default
---

<div class="wrapper">
    <div class="info info--about">
        <div class="container">
            {% include menu-team.html %}
            <hr>

            <p>
                {{ site.data.languages[page.language]['about_description_1'] }}
            </p>
            <p>
                {{ site.data.languages[page.language]['about_description_2'] }}
            </p>

            <div class="info__blocks">
                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_documentation'] }}
                        </h2>
                        <p>
                            {{ site.data.languages[page.language]['about_documentation_1'] | replace: ':1:', 'https://github.com/phalcon/docs' }}
                        </p>
                        <p>
                            {{ site.data.languages[page.language]['about_documentation_2'] }}
                        </p>
                        <p>
                            {{ site.data.languages[page.language]['about_documentation_3'] | replace: ':2:', 'https://crowdin.com' | replace: ':3:', 'Crowdin' | replace: ':4:', 'https://crowdin.com/project/phalcon-documentation' }}
                        </p>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_translations'] }}
                        </h2>
                        <p>
                            {{ site.data.languages[page.language]['about_translations_1'] | replace: ':2:', 'https://crowdin.com' | replace: ':3:', 'Crowdin' | replace: ':4:', 'https://crowdin.com/project/phalcon-documentation' }}
                        </p>
                        <br>
                        <a href="https://crowdin.com/project/phalcon-website">
                            <img src="https://d33wubrfki0l68.cloudfront.net/db0a9d60e0cbd2ac4906ca794f1d5d6c75461cbc/f7595/assets/images/crowdin-logo.png" alt="Crowdin">
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="info__blocks">
                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_tests'] }}
                        </h2>
                        <p>
                            {{ site.data.languages[page.language]['about_tests_1'] | replace: ':1:', 'https://travis-ci.org/phalcon/cphalcon'  }}
                        </p>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_screencasts'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_screencasts_1'] | replace: ':1:', 'https://phalcon.io/youtube' }}
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="info__blocks">
                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_evangelism'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_evangelism_1'] }}
                        </p>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_sample_applications'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_sample_apps_1'] }}
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="info__blocks">
                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_blog'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_blog_1'] | replace: ':1:', 'https://phalcon.io/blog' }}
                        </p>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_share_your_experiences'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_share_experiences_1'] }}
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="info__blocks">
                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_social_networks'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_social_networks_1'] }}
                        </p>

                        <p>
                            {{ site.data.languages[page.language]['about_social_networks_2'] }}
                        </p>

                        <ul>
                            <li><a href="https://phalcon.io/github" target="_blank">GitHub</a></li>
                            <li><a href="https://phalcon.io/discord" target="_blank">Discord</a></li>
                            <li><a href="https://phalcon.io/forum" target="_blank">Forum</a></li>

                            <li><a href="https://phalcon.io/fund" target="_blank">{{ site.data.languages[page.language]['support_us'] }}</a></li>
                            <li><a href="https://phalcon.io/store" target="_blank">{{ site.data.languages[page.language]['store'] }}</a></li>

                            <li><a href="https://phalcon.io/telegram" target="_blank">Telegram</a></li>
                            <li><a href="https://phalcon.io/gab" target="_blank">Gab</a></li>
                            <li><a href="https://phalcon.io/mewe" target="_blank">MeWe</a></li>
                            <li><a href="https://phalcon.io/parler" target="_blank">Parler</a></li>
                            <li><a href="https://phalcon.io/reddit" target="_blank">Reddit</a></li>
                            <li><a href="https://phalcon.io/fb" target="_blank">Facebook</a></li>
                            <li><a href="https://phalcon.io/t" target="_blank">Twitter</a></li>
                            <li><a href="https://phalcon.io/bitchute" target="_blank">BitChute</a></li>
                            <li><a href="https://phalcon.io/lbry" target="_blank">LBRY</a></li>
                            <li><a href="https://phalcon.io/youtube" target="_blank">YouTube</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block__content">
                        <h2 class="info-block__title">
                            {{ site.data.languages[page.language]['about_donations_sponsoring'] }}
                        </h2>

                        <p>
                            {{ site.data.languages[page.language]['about_sponsoring_1'] }}
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="info-block">
                <div class="info-block__content">
                    <h2 class="info-block__title">
                        {{ site.data.languages[page.language]['about_thank_you'] }}
                    </h2>

                    <p>
                        {{ site.data.languages[page.language]['about_thank_you_1'] }}
                    </p>

                    <p>
                        <strong>
                            {{ site.data.languages[page.language]['about_flying_with_phalcon'] }}
                        </strong>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
