---
layout: default
---


<div class="wrapper">
    <div class="info ">
        <div class="container">
            <p>
                {{ site.data.languages[page.language]['consulting_mctekk_header'] }}
            </p>

            <div class="info-block">
                <div class="info-block__img">
                    <img src='/assets/images/consulting/mctekk.png' title='MCTEKK' alt='MCTEKK' />
                </div>
                <div class="info-block__content">
                    <p>
                        {{ site.data.languages[page.language]['consulting_mctekk_1'] }}
                    </p>

                    <p>
                        {{ site.data.languages[page.language]['consulting_mctekk_2'] }}
                    </p>

                    <p>
                        {{ site.data.languages[page.language]['consulting_mctekk_3'] | replace: ':1:', 'https://mctekk.com/phalcon' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
