---
layout: default
---

<div class="wrapper">
    <div class="info info--about">
        <div class="container">
            {% include menu-download.html %}
            <hr>

            <p>
                {{ site.data.languages[page.language]['download_note'] }}
            </p>

            <p class="alert alert-info">
                {{ site.data.languages[page.language]['download_psr'] | replace: ':1:',
                'https://pecl.php.net/package/psr' }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_pecl'] }}
            </h2>
            <p>
                {{ site.data.languages[page.language]['download_pecl_1'] }}
                {{ site.data.languages[page.language]['download_pecl_2'] | replace: ':1:',
                'https://pear.php.net/manual/en/installation.getting.php' }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">pecl channel-update pecl.php.net
pecl install phalcon-5.0.0</code></pre>
            </div>

            <h2>
                {{ site.data.languages[page.language]['download_compilation'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_compilation_1'] }}
            </p>

            <h3>
                {{ site.data.languages[page.language]['download_requirements'] }}
            </h3>

            <p class="strong">
                {{ site.data.languages[page.language]['download_requirements_1'] }}
            </p>

            <ul>
                <li>{{ site.data.languages[page.language]['download_requirements_2'] }}</li>
                <li>{{ site.data.languages[page.language]['download_requirements_3'] }}</li>
            </ul>

            <div class="feature__code">
                <pre><code class="bash hljs"># Ubuntu
sudo apt-get install php8.1-dev php8.1-mysql gcc libpcre3-dev

# Fedora
sudo dnf install php-devel php-mysqlnd gcc libtool pcre-devel re2c

# RHEL
sudo yum install php-devel php-mysql gcc libtool pcre-devel

# Suse
yast2 -i php8-pear php8-devel php8-mysql gcc libtool pcre-devel

# macOS (Homebrew)
brew install pcre
brew tap phalcon/extension https://github.com/phalcon/homebrew-tap
brew install phalcon

# macOS (MacPorts)
sudo port install php81-phalcon
</code></pre>
            </div>

            <h3>
                {{ site.data.languages[page.language]['download_compilation'] }}
            </h3>

            <p>
                {{ site.data.languages[page.language]['download_compilation_11'] }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">git clone --depth=1 "git://github.com/phalcon/cphalcon.git"
cd cphalcon/build
sudo ./install</code></pre>
            </div>

            <p>
                {{ site.data.languages[page.language]['download_compilation_12'] }}
            </p>
            <div class="feature__code">
                <pre><code class="ini">extension=phalcon.so</code></pre>
            </div>
            <p>
                {{ site.data.languages[page.language]['download_compilation_13'] }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_arch'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_arch_1'] | replace: ':1:',
                'https://aur.archlinux.org/packages/php-phalcon/' }}
            </p>

            <h2>{{ site.data.languages[page.language]['download_opensuse'] }}</h2>

            <p>
                {{ site.data.languages[page.language]['download_opensuse_1'] | replace: ':1:',
                'https://software.opensuse.org/package/php7-phalcon' | replace: ':2:', 'https://github.com/mruz' }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_freebsd'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_freebsd_1'] }}
            </p>
            <div class="feature__code">
                <pre><code class="bash hljs">pkg install -r phalcon</code></pre>
            </div>

            <p>{{ site.data.languages[page.language]['or'] }}</p>
            <div class="feature__code">
                <pre><code class="bash hljs">cd /usr/ports/www/phalcon && make install clean</code></pre>
            </div>

            <h2>
                {{ site.data.languages[page.language]['download_amazon'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_amazon_1'] | replace: ':1:',
                'https://archive.is/M7aU9' }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_cpanel'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_cpanel_1'] | replace: ':1:',
                'https://documentation.cpanel.net/display/EA/Custom+Modules' | replace: ':2:',
                'https://github.com/thecpaneladmin/EA-PhalconPHP' }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_dependencies'] }}
            </h2>

            <p>
                {{ site.data.languages[page.language]['download_dependencies_1'] }}
            </p>
            <ul>
                <li>mbstring</li>
                <li>mcrypt</li>
                <li>openssl</li>
                <li>PDO</li>
                <li>PDO/Mysql</li>
                <li>PDO/Postgresql</li>
                <li>PDO/Sqlite</li>
                <li>Mongo</li>
            </ul>
            <p>
                {{ site.data.languages[page.language]['download_dependencies_2'] }}
            </p>

            <h2>
                {{ site.data.languages[page.language]['download_need_helo'] }}
            </h2>

            <p>
                {% assign link = '/' | append: page.language | append: '/support' %}
                {{ site.data.languages[page.language]['download_need_help_1'] | replace: ':1:', link }}
            </p>

        </div>
    </div>
</div>
