---
layout: default
---

<div class="wrapper">
    <div class="info info--about">
        <div class="container">
            {% include menu-download.html %}
            <hr>

            <h2>
                {{ site.data.languages[page.language]['download_developer_tools'] }}
            </h2>
            <p>
                {{ site.data.languages[page.language]['download_devtools_1'] }}
            </p>
            <p>
                {{ site.data.languages[page.language]['download_developer_dpcs'] | replace: ':1:', 'https://docs.phalcon.io/3.4/en/devtools-installation' }}
            </p>

            <br />
            <h3>
                {{ site.data.languages[page.language]['download_devtools_composer'] }}
            </h3>
            <p>
                {{ site.data.languages[page.language]['download_devtools_composer_1'] }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">curl -s http://getcomposer.org/installer | php</code></pre>
            </div>

            <p>
                {{ site.data.languages[page.language]['download_devtools_composer_2'] }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">{
    "require": {
        "phalcon/devtools": "dev-master"
    }
}</code></pre>
            </div>

            <p>
                {{ site.data.languages[page.language]['download_devtools_composer_3'] }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">php composer.phar install</code></pre>
            </div>

            <p>
                {{ site.data.languages[page.language]['download_devtools_composer_4'] }}
            </p>

            <div class="feature__code">
                <pre><code class="bash hljs">ln -s ~/devtools/phalcon.php /usr/bin/phalcon
chmod ugo+x /usr/bin/phalcon</code></pre>
            </div>

            <br />
            <h3>
                {{ site.data.languages[page.language]['download'] }}
            </h3>
            <p>
                {{ site.data.languages[page.language]['download_devtools_download'] | replace: ':1:', 'https://github.com/phalcon/phalcon-devtools' }}
            </p>
        </div>
    </div>
</div>
