---
layout: default
---

{% include jumbo.html %}
<div class="container container--short">
    {% include sponsors.html %}
</div>

<section class="features">
    {% include features_base.html %}

    <div class="features__mobile">
        <ul class="features-accordion">
            <li class="active">
                <div class="features-accordion__trigger">Basic feautures</div>

                <div class="features-accordion__content">
                    <div class="features-slider">
                        <div class="features-slider__nav">
                            <div class="features-slider__nav-item">
                              {{ site.data.languages[page.language]['low_overhead'] }}
                            </div>

                            <div class="features-slider__nav-item">
                                MVC & HMVC
                            </div>

                            <div class="features-slider__nav-item">
                                Dependency Injection
                            </div>

                            <div class="features-slider__nav-item">
                                Rest
                            </div>

                            <div class="features-slider__nav-item">
                                Autoloader
                            </div>

                            <div class="features-slider__nav-item">
                                Router
                            </div>
                        </div>
                        <div class="features-slider__content">
                            <div>
                                <div class="features-slider__descr">
                                  {{ site.data.languages[page.language]['low_overhead_description'] }}
                                </div>
                                <div class="features-slider__example feature__code">
                                  <ul>
                                    <li>
                                      {{ site.data.languages[page.language]['low_overhead_1'] }}
                                    </li>
                                    <li>
                                      {{ site.data.languages[page.language]['low_overhead_2'] }}
                                    </li>
                                    <li>
                                      {{ site.data.languages[page.language]['low_overhead_3'] }}
                                    </li>
                                    <li>
                                      {{ site.data.languages[page.language]['low_overhead_4'] }}
                                    </li>
                                  </ul>
                                </div>
                            </div>

                            <div>
                                <div class="features-slider__descr">
                                    {{ site.data.languages[page.language]['mvc_1'] }}
                                </div>
                                <div class="features-slider__example feature__code">
                                    <pre>
                                        <code class="php hljs">
                                            single/
                                                app/
                                                    controllers/
                                                    models/
                                                    views/
                                                public/
                                                    css/
                                                    img/
                                                    js/
                                        </code>
                                    </pre>

                                    <pre>
                                        <code class="php hljs">
                                            multiple/
                                                 apps/
                                                   frontend/
                                                      controllers/
                                                      models/
                                                      views/
                                                      Module.php
                                                   backend/
                                                      controllers/
                                                      models/
                                                      views/
                                                      Module.php
                                                   public/
                                                   ../
                                        </code>
                                    </pre>
                                </div>
                            </div>

                            <div>
                              <div class="features-slider__descr">
                                {{ site.data.languages[page.language]['dependency_injection_1'] }}
                              </div>
                              <div class="feature__example feature__code">
                                <pre>
                                    <code class="php hljs">
                                      // {{ site.data.languages[page.language]['dependency_injection_2'] }}
                                      $di = new Phalcon\DI();

                                      // {{ site.data.languages[page.language]['dependency_injection_3'] }}
                                      $di->set("request", new Phalcon\Http\Request());

                                      ..

                                      // {{ site.data.languages[page.language]['dependency_injection_4'] }}
                                      $request = $di->getShared('request');
                                    </code>
                                </pre>
                              </div>
                            </div>

                            <div>
                              <div class="features-slider__descr">
                                {{ site.data.languages[page.language]['dependency_injection_1'] }}
                              </div>
                              <div class="feature__example feature__code">
                                <pre>
                                    <code class="php hljs">
                                      use Phalcon\Mvc\Micro;

                                      $app = new Micro();

                                      // {{ site.data.languages[page.language]['restful_services_2'] }}
                                      $app->get(
                                          '/check/status',
                                          function () {
                                              return $this
                                                  ->response
                                                  ->setJsonContent(
                                                      [
                                                          'status' => 'important',
                                                      ]
                                                  )
                                              ;
                                          }
                                      );

                                      $app->handle();
                                    </code>
                                </pre>
                              </div>
                            </div>

                            <div>
                              <div class="feature__descr">
                                {{ site.data.languages[page.language]['auto_loader_1'] }}
                              </div>
                              <div class="feature__example feature__code">
                                <pre>
                                    <code class="php hljs">
                                      use Phalcon\Loader;

                                      // {{ site.data.languages[page.language]['auto_loader_2'] }}
                                      $loader = new Loader();

                                      // {{ site.data.languages[page.language]['auto_loader_3'] }}
                                      $loader->registerNamespaces(
                                          [
                                             'Example\Base'    => 'vendor/example/base/',
                                             'Example\Adapter' => 'vendor/example/adapter/',
                                             'Example'         => 'vendor/example/',
                                          ]
                                      );

                                      // {{ site.data.languages[page.language]['auto_loader_4'] }}
                                      $loader->register();
                                    </code>
                                </pre>
                              </div>
                            </div>

                            <div>Router</div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="features-accordion__trigger">Data&Storage</div>

                <div class="features-accordion__content">
                    Some content...
                </div>
            </li>

            <li>
                <div class="features-accordion__trigger">Views&Frontend</div>

                <div class="features-accordion__content">
                    Some content...
                </div>
            </li>

            <li>
                <div class="features-accordion__trigger">Basic feautures</div>

                <div class="features-accordion__content">
                    Some content...
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="container container--short">
    {% include design.html %}
    {% include join.html %}
    {% include contributors.html %}
</div>
