---
layout: default
---

<div class="wrapper">
    <div class="info">
        <div class="container">
            <div>
                <p>
                    {{ site.data.languages[page.language]['sponsors_description_1'] }}
                </p>
            </div>

            <hr>

            <div class="info-block__content">
                <h3>
                    {{ site.data.languages[page.language]['sponsors_and_supporters_upper'] }}
                </h3>
                {% include sponsors.html %}
            </div>
        </div>
    </div>
</div>
