---
layout: default
---

<div class="wrapper">
    <div class="info">
        <div class="container">
            <h3>
                {{ site.data.languages[page.language]['documentation'] }}
            </h3>
            <hr>
            <p>
                {{ site.data.languages[page.language]['support_documentation_1'] | replace: ':1:', 'https://phalcon.io/docs' }}
            </p>

            <p>
                {{ site.data.languages[page.language]['support_note_1'] }}
            </p>
            <ul>
                <li>
                    {{ site.data.languages[page.language]['support_phalcon_forum'] | replace: ':1:', 'https://phalcon.io/forum' }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_stack_overflow'] | replace: ':1:', 'https://stackoverflow.com' | replace: ':2:', 'https://stackoverflow.com/questions/tagged/phalcon' }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_discord'] | replace: ':1:', 'https://phalcon.io/discord' }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_social_network_accounts'] }}
                    <a href="https://phalcon.io/telegram" target="_blank">Telegram</a>,
                    <a href="https://phalcon.io/gab" target="_blank">Gab</a>,
                    <a href="https://phalcon.io/parler" target="_blank">Parler</a>,
                    <a href="https://phalcon.io/mewe" target="_blank">MeWe</a>,
                    <a href="https://phalcon.io/fb" target="_blank">Facebook</a>,
                    <a href="https://phalcon.io/t" target="_blank">Twitter</a>
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_reporting_a_bug_0'] | replace: ':1:', 'https://github.com/phalcon/cphalcon/issues/new' }}
                </li>
            </ul>

            <h4>
                {% assign downloadLink = '/' | append: page.language | append: '/download' %}
                {{ site.data.languages[page.language]['support_note_2'] | replace: ':1:', downloadLink }}
            </h4>

            <h3>Stack Overflow</h3>
            <p>
                {{ site.data.languages[page.language]['support_please_note'] }}
            </p>
            <ul>
                <li>
                    {{ site.data.languages[page.language]['support_please_note_1'] }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_please_note_2'] | replace: ':1:', 'https://github.com/phalcon/cphalcon/issues' }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_please_note_3'] | replace: ':1:', 'https://github.com/phalcon/cphalcon/issues' }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_please_note_4'] }}
                </li>
                <li>
                    {{ site.data.languages[page.language]['support_please_note_5'] }}
                </li>
            </ul>

            <h3>
                {{ site.data.languages[page.language]['support_reporting_a_bug'] }}
            </h3>
            <p>
                {{ site.data.languages[page.language]['support_reporting_a_bug_1'] | replace: ':1:', 'https://github.com/phalcon/cphalcon/issues/new' }}
            </p>
        </div>
    </div>
</div>
