---
layout: page
---

<section class="team">
    <div class="container">
        {% include menu-team.html %}
        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/images/team/ruud.jpg"
                     alt="Ruud Boon"
                     style="width: 102px;"
                     class="img-circle"/>
            </div>

            <div class="col-lg-10">
                <h3 class="member-name">Ruud Boon</h3>
                <p>{{ site.data.languages[page.language]['team_ruud_1'] }}</p>
                <p>{{ site.data.languages[page.language]['team_ruud_2'] }}</p>
                <p>{{ site.data.languages[page.language]['team_ruud_3'] }}</p>
                <p>{{ site.data.languages[page.language]['team_ruud_4'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/images/team/nikos.jpg"
                     alt="Nikolaos (Nikos) Dimopoulos"
                     style="width: 102px;"
                     class="img-circle"/>
            </div>

            <div class="col-lg-10">
                <h3 class="member-name">Nikolaos (Nikos) Dimopoulos</h3>
                <p>{{ site.data.languages[page.language]['team_nikos_1'] }}</p>
                <p>{{ site.data.languages[page.language]['team_nikos_2'] }}</p>
                <p>{{ site.data.languages[page.language]['team_nikos_3'] }}</p>
                <p>{{ site.data.languages[page.language]['team_nikos_4'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/images/team/serghei.png"
                     alt="Serghei Iakovlev"
                     style="width: 102px;"
                     class="img-circle"/>
            </div>

            <div class="col-lg-10">
                <h3 class="member-name">Serghei Iakovlev</h3>
                <p>{{ site.data.languages[page.language]['team_serghei_1'] }}</p>
                <p>{{ site.data.languages[page.language]['team_serghei_2'] }}</p>
                <p>{{ site.data.languages[page.language]['team_serghei_3'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/images/team/paulscoder.jpg"
                     alt="Paul Scarrone"
                     style="width: 102px;"
                     class="img-circle"/>
            </div>

            <div class="col-lg-10">
                <h3 class="member-name">Paul Scarrone</h3>
                <p><a href="https://twitter.com/PaulSCoder">Twitter</a> | <a href="https://github.com/ninjapanzer">Github</a></p>
                <p>{{ site.data.languages[page.language]['team_paul_1'] }}</p>
                <p>{{ site.data.languages[page.language]['team_paul_2'] }}</p>
                <p>{{ site.data.languages[page.language]['team_paul_3'] }}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-2">
                <img src="/assets/images/team/andres.jpg"
                     alt="Andres Gutierrez"
                     style="width: 102px;"
                     class="img-circle"/>
            </div>

            <div class="col-lg-10">
                <h3 class="member-name">Andres Gutierrez (special mention)</h3>
                <p>{{ site.data.languages[page.language]['team_andres_1'] }}</p>
                <p>{{ site.data.languages[page.language]['team_andres_2'] }}</p>
                <p>{{ site.data.languages[page.language]['team_andres_3'] }}</p>
                <p>{{ site.data.languages[page.language]['team_andres_4'] }}</p>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-10">
                <h3 class="member-name">
                    {{ site.data.languages[page.language]['phalcon_team_1'] }}
                </h3>
                <p>
                    {{ site.data.languages[page.language]['phalcon_team_2'] }}
                </p>
                <div class="hr"></div>
            </div>
        </div>

        <div class="contributors">
            <a title="niden" href="https://github.com/niden">
                <img src="/assets/images/contributors/niden.jpg" alt="niden" />
            </a>
            <a title="sergeyklay" href="https://github.com/sergeyklay">
                <img src="/assets/images/contributors/sergeyklay.jpg" alt="sergeyklay" />
            </a>
            <a title="andresgutierrez" href="https://github.com/andresgutierrez">
                <img src="/assets/images/contributors/andresgutierrez.jpg" alt="andresgutierrez" />
            </a>
            <a title="sjinks" href="https://github.com/sjinks">
                <img src="/assets/images/contributors/sjinks.jpg" alt="sjinks" />
            </a>
            <a title="SidRoberts" href="https://github.com/SidRoberts">
                <img src="/assets/images/contributors/SidRoberts.jpg" alt="SidRoberts" />
            </a>
            <a title="ovr" href="https://github.com/ovr">
                <img src="/assets/images/contributors/ovr.jpg" alt="ovr" />
            </a>
            <a title="dreamsxin" href="https://github.com/dreamsxin">
                <img src="/assets/images/contributors/dreamsxin.jpg" alt="dreamsxin" />
            </a>
            <a title="xboston" href="https://github.com/xboston">
                <img src="/assets/images/contributors/xboston.jpg" alt="xboston" />
            </a>
            <a title="carvajaldiazeduar" href="https://github.com/carvajaldiazeduar">
                <img src="/assets/images/contributors/carvajaldiazeduar.jpg" alt="carvajaldiazeduar" />
            </a>
            <a title="mruz" href="https://github.com/mruz">
                <img src="/assets/images/contributors/mruz.jpg" alt="mruz" />
            </a>
            <a title="nkt" href="https://github.com/nkt">
                <img src="/assets/images/contributors/nkt.jpg" alt="nkt" />
            </a>
            <a title="Jurigag" href="https://github.com/Jurigag">
                <img src="/assets/images/contributors/Jurigag.jpg" alt="Jurigag" />
            </a>
            <a title="ruudboon" href="https://github.com/ruudboon">
                <img src="/assets/images/contributors/ruudboon.jpg" alt="ruudboon" />
            </a>
            <a title="sergeysviridenko" href="https://github.com/sergeysviridenko">
                <img src="/assets/images/contributors/sergeysviridenko.jpg" alt="sergeysviridenko" />
            </a>
            <a title="kenjikobe" href="https://github.com/kenjikobe">
                <img src="/assets/images/contributors/kenjikobe.jpg" alt="kenjikobe" />
            </a>
            <a title="beliarh" href="https://github.com/beliarh">
                <img src="/assets/images/contributors/beliarh.jpg" alt="beliarh" />
            </a>
            <a title="Cinderella-Man" href="https://github.com/Cinderella-Man">
                <img src="/assets/images/contributors/Cinderella-Man.jpg" alt="Cinderella-Man" />
            </a>
            <a title="KorsaR-ZN" href="https://github.com/KorsaR-ZN">
                <img src="/assets/images/contributors/KorsaR-ZN.jpg" alt="KorsaR-ZN" />
            </a>
            <a title="CameronHall" href="https://github.com/CameronHall">
                <img src="/assets/images/contributors/CameronHall.jpg" alt="CameronHall" />
            </a>
            <a title="iGusev" href="https://github.com/iGusev">
                <img src="/assets/images/contributors/iGusev.jpg" alt="iGusev" />
            </a>
            <a title="steffengy" href="https://github.com/steffengy">
                <img src="/assets/images/contributors/steffengy.jpg" alt="steffengy" />
            </a>
            <a title="emiliodeg" href="https://github.com/emiliodeg">
                <img src="/assets/images/contributors/emiliodeg.jpg" alt="emiliodeg" />
            </a>
            <a title="Green-Cat" href="https://github.com/Green-Cat">
                <img src="/assets/images/contributors/Green-Cat.jpg" alt="Green-Cat" />
            </a>
            <a title="endeveit" href="https://github.com/endeveit">
                <img src="/assets/images/contributors/endeveit.jpg" alt="endeveit" />
            </a>
            <a title="tmihalik" href="https://github.com/tmihalik">
                <img src="/assets/images/contributors/tmihalik.jpg" alt="tmihalik" />
            </a>
            <a title="Arhell" href="https://github.com/Arhell">
                <img src="/assets/images/contributors/Arhell.jpg" alt="Arhell" />
            </a>
            <a title="gsouf" href="https://github.com/gsouf">
                <img src="/assets/images/contributors/gsouf.jpg" alt="gsouf" />
            </a>
            <a title="dschissler" href="https://github.com/dschissler">
                <img src="/assets/images/contributors/dschissler.jpg" alt="dschissler" />
            </a>
            <a title="JimmDiGrizli" href="https://github.com/JimmDiGrizli">
                <img src="/assets/images/contributors/JimmDiGrizli.jpg" alt="JimmDiGrizli" />
            </a>
            <a title="olivier-monaco" href="https://github.com/olivier-monaco">
                <img src="/assets/images/contributors/olivier-monaco.jpg" alt="olivier-monaco" />
            </a>
            <a title="racklin" href="https://github.com/racklin">
                <img src="/assets/images/contributors/racklin.jpg" alt="racklin" />
            </a>
            <a title="rianorie" href="https://github.com/rianorie">
                <img src="/assets/images/contributors/rianorie.jpg" alt="rianorie" />
            </a>
            <a title="digitronac" href="https://github.com/digitronac">
                <img src="/assets/images/contributors/digitronac.jpg" alt="digitronac" />
            </a>
            <a title="netstu" href="https://github.com/netstu">
                <img src="/assets/images/contributors/netstu.jpg" alt="netstu" />
            </a>
            <a title="dogstarTest" href="https://github.com/dogstarTest">
                <img src="/assets/images/contributors/dogstarTest.jpg" alt="dogstarTest" />
            </a>
            <a title="ekmst" href="https://github.com/ekmst">
                <img src="/assets/images/contributors/ekmst.jpg" alt="ekmst" />
            </a>
            <a title="quantum13" href="https://github.com/quantum13">
                <img src="/assets/images/contributors/quantum13.jpg" alt="quantum13" />
            </a>
            <a title="zamronypj" href="https://github.com/zamronypj">
                <img src="/assets/images/contributors/zamronypj.jpg" alt="zamronypj" />
            </a>
            <a title="marciopaiva" href="https://github.com/marciopaiva">
                <img src="/assets/images/contributors/marciopaiva.jpg" alt="marciopaiva" />
            </a>
            <a title="Jeckerson" href="https://github.com/Jeckerson">
                <img src="/assets/images/contributors/Jeckerson.jpg" alt="Jeckerson" />
            </a>
            <a title="qzfzz" href="https://github.com/qzfzz">
                <img src="/assets/images/contributors/qzfzz.jpg" alt="qzfzz" />
            </a>
            <a title="rigin" href="https://github.com/rigin">
                <img src="/assets/images/contributors/rigin.jpg" alt="rigin" />
            </a>
            <a title="AlexNDRmac" href="https://github.com/AlexNDRmac">
                <img src="/assets/images/contributors/AlexNDRmac.jpg" alt="AlexNDRmac" />
            </a>
            <a title="ogarbe" href="https://github.com/ogarbe">
                <img src="/assets/images/contributors/ogarbe.jpg" alt="ogarbe" />
            </a>
            <a title="dugwood" href="https://github.com/dugwood">
                <img src="/assets/images/contributors/dugwood.jpg" alt="dugwood" />
            </a>
            <a title="xueron" href="https://github.com/xueron">
                <img src="/assets/images/contributors/xueron.jpg" alt="xueron" />
            </a>
            <a title="akaNightmare" href="https://github.com/akaNightmare">
                <img src="/assets/images/contributors/akaNightmare.jpg" alt="akaNightmare" />
            </a>
            <a title="rcsv" href="https://github.com/rcsv">
                <img src="/assets/images/contributors/rcsv.jpg" alt="rcsv" />
            </a>
            <a title="mowangjuanzi" href="https://github.com/mowangjuanzi">
                <img src="/assets/images/contributors/mowangjuanzi.jpg" alt="mowangjuanzi" />
            </a>
            <a title="uonick" href="https://github.com/uonick">
                <img src="/assets/images/contributors/uonick.jpg" alt="uonick" />
            </a>
            <a title="KevinJay" href="https://github.com/KevinJay">
                <img src="/assets/images/contributors/KevinJay.jpg" alt="KevinJay" />
            </a>
            <a title="npfedwards" href="https://github.com/npfedwards">
                <img src="/assets/images/contributors/npfedwards.jpg" alt="npfedwards" />
            </a>
            <a title="mattvb91" href="https://github.com/mattvb91">
                <img src="/assets/images/contributors/mattvb91.jpg" alt="mattvb91" />
            </a>
            <a title="inouet" href="https://github.com/inouet">
                <img src="/assets/images/contributors/inouet.jpg" alt="inouet" />
            </a>
            <a title="asokal" href="https://github.com/asokal">
                <img src="/assets/images/contributors/asokal.jpg" alt="asokal" />
            </a>
            <a title="MatheusRibak" href="https://github.com/MatheusRibak">
                <img src="/assets/images/contributors/MatheusRibak.jpg" alt="MatheusRibak" />
            </a>
            <a title="boxbillinggit" href="https://github.com/boxbillinggit">
                <img src="/assets/images/contributors/boxbillinggit.jpg" alt="boxbillinggit" />
            </a>
            <a title="ninjapanzer" href="https://github.com/ninjapanzer">
                <img src="/assets/images/contributors/ninjapanzer.jpg" alt="ninjapanzer" />
            </a>
            <a title="Kachit" href="https://github.com/Kachit">
                <img src="/assets/images/contributors/Kachit.jpg" alt="Kachit" />
            </a>
            <a title="tigerstrikemedia" href="https://github.com/tigerstrikemedia">
                <img src="/assets/images/contributors/tigerstrikemedia.jpg" alt="tigerstrikemedia" />
            </a>
            <a title="wenchen" href="https://github.com/wenchen">
                <img src="/assets/images/contributors/wenchen.jpg" alt="wenchen" />
            </a>
            <a title="unisys12" href="https://github.com/unisys12">
                <img src="/assets/images/contributors/unisys12.jpg" alt="unisys12" />
            </a>
            <a title="rafmichalak84" href="https://github.com/rafmichalak84">
                <img src="/assets/images/contributors/rafmichalak84.jpg" alt="rafmichalak84" />
            </a>
            <a title="carlosstenzel" href="https://github.com/carlosstenzel">
                <img src="/assets/images/contributors/carlosstenzel.jpg" alt="carlosstenzel" />
            </a>
            <a title="lukosius" href="https://github.com/lukosius">
                <img src="/assets/images/contributors/lukosius.jpg" alt="lukosius" />
            </a>
            <a title="Barbery" href="https://github.com/Barbery">
                <img src="/assets/images/contributors/Barbery.jpg" alt="Barbery" />
            </a>
            <a title="oNguyenTienManh" href="https://github.com/oNguyenTienManh">
                <img src="/assets/images/contributors/oNguyenTienManh.jpg" alt="oNguyenTienManh" />
            </a>
            <a title="relort" href="https://github.com/relort">
                <img src="/assets/images/contributors/relort.jpg" alt="relort" />
            </a>
            <a title="robertsmolarek" href="https://github.com/robertsmolarek">
                <img src="/assets/images/contributors/robertsmolarek.jpg" alt="robertsmolarek" />
            </a>
            <a title="stibiumz" href="https://github.com/stibiumz">
                <img src="/assets/images/contributors/stibiumz.jpg" alt="stibiumz" />
            </a>
            <a title="cottton" href="https://github.com/cottton">
                <img src="/assets/images/contributors/cottton.jpg" alt="cottton" />
            </a>
            <a title="danhunsaker" href="https://github.com/danhunsaker">
                <img src="/assets/images/contributors/danhunsaker.jpg" alt="danhunsaker" />
            </a>
            <a title="zinovyev" href="https://github.com/zinovyev">
                <img src="/assets/images/contributors/zinovyev.jpg" alt="zinovyev" />
            </a>
            <a title="richmulhern" href="https://github.com/richmulhern">
                <img src="/assets/images/contributors/richmulhern.jpg" alt="richmulhern" />
            </a>
            <a title="dario1985" href="https://github.com/dario1985">
                <img src="/assets/images/contributors/dario1985.jpg" alt="dario1985" />
            </a>
            <a title="ulfims" href="https://github.com/ulfims">
                <img src="/assets/images/contributors/ulfims.jpg" alt="ulfims" />
            </a>
            <a title="zyxep" href="https://github.com/zyxep">
                <img src="/assets/images/contributors/zyxep.jpg" alt="zyxep" />
            </a>
            <a title="Fenikkusu" href="https://github.com/Fenikkusu">
                <img src="/assets/images/contributors/Fenikkusu.jpg" alt="Fenikkusu" />
            </a>
            <a title="hylent" href="https://github.com/hylent">
                <img src="/assets/images/contributors/hylent.jpg" alt="hylent" />
            </a>
            <a title="theDisco" href="https://github.com/theDisco">
                <img src="/assets/images/contributors/theDisco.jpg" alt="theDisco" />
            </a>
            <a title="7thcubic" href="https://github.com/7thcubic">
                <img src="/assets/images/contributors/7thcubic.jpg" alt="7thcubic" />
            </a>
            <a title="nexik" href="https://github.com/nexik">
                <img src="/assets/images/contributors/nexik.jpg" alt="nexik" />
            </a>
            <a title="ilyk" href="https://github.com/ilyk">
                <img src="/assets/images/contributors/ilyk.jpg" alt="ilyk" />
            </a>
            <a title="josh4trunks" href="https://github.com/josh4trunks">
                <img src="/assets/images/contributors/josh4trunks.jpg" alt="josh4trunks" />
            </a>
            <a title="echodreamz" href="https://github.com/echodreamz">
                <img src="/assets/images/contributors/echodreamz.jpg" alt="echodreamz" />
            </a>
            <a title="parshikov" href="https://github.com/parshikov">
                <img src="/assets/images/contributors/parshikov.jpg" alt="parshikov" />
            </a>
            <a title="dacgray" href="https://github.com/dacgray">
                <img src="/assets/images/contributors/dacgray.jpg" alt="dacgray" />
            </a>
            <a title="montaccep" href="https://github.com/montaccep">
                <img src="/assets/images/contributors/montaccep.jpg" alt="montaccep" />
            </a>
            <a title="duythien" href="https://github.com/duythien">
                <img src="/assets/images/contributors/duythien.jpg" alt="duythien" />
            </a>
            <a title="baszczewski" href="https://github.com/baszczewski">
                <img src="/assets/images/contributors/baszczewski.jpg" alt="baszczewski" />
            </a>
            <a title="braska" href="https://github.com/braska">
                <img src="/assets/images/contributors/braska.jpg" alt="braska" />
            </a>
            <a title="gnumoksha" href="https://github.com/gnumoksha">
                <img src="/assets/images/contributors/gnumoksha.jpg" alt="gnumoksha" />
            </a>
            <a title="thecodeassassin" href="https://github.com/thecodeassassin">
                <img src="/assets/images/contributors/thecodeassassin.jpg" alt="thecodeassassin" />
            </a>
            <a title="Vitality186" href="https://github.com/Vitality186">
                <img src="/assets/images/contributors/Vitality186.jpg" alt="Vitality186" />
            </a>
            <a title="nazwa" href="https://github.com/nazwa">
                <img src="/assets/images/contributors/nazwa.jpg" alt="nazwa" />
            </a>
            <a title="sgenov" href="https://github.com/sgenov">
                <img src="/assets/images/contributors/sgenov.jpg" alt="sgenov" />
            </a>
            <a title="YerlenZhubangaliyev" href="https://github.com/YerlenZhubangaliyev">
                <img src="/assets/images/contributors/YerlenZhubangaliyev.jpg" alt="YerlenZhubangaliyev" />
            </a>
            <a title="alexbusu" href="https://github.com/alexbusu">
                <img src="/assets/images/contributors/alexbusu.jpg" alt="alexbusu" />
            </a>
            <a title="eugene-matvejev" href="https://github.com/eugene-matvejev">
                <img src="/assets/images/contributors/eugene-matvejev.jpg" alt="eugene-matvejev" />
            </a>
            <a title="rogervila" href="https://github.com/rogervila">
                <img src="/assets/images/contributors/rogervila.jpg" alt="rogervila" />
            </a>
            <a title="davihu" href="https://github.com/davihu">
                <img src="/assets/images/contributors/davihu.jpg" alt="davihu" />
            </a>
            <a title="PyYoshi" href="https://github.com/PyYoshi">
                <img src="/assets/images/contributors/PyYoshi.jpg" alt="PyYoshi" />
            </a>
            <a title="danclive" href="https://github.com/danclive">
                <img src="/assets/images/contributors/danclive.jpg" alt="danclive" />
            </a>
            <a title="andycheg" href="https://github.com/andycheg">
                <img src="/assets/images/contributors/andycheg.jpg" alt="andycheg" />
            </a>
            <a title="thehe" href="https://github.com/thehe">
                <img src="/assets/images/contributors/thehe.jpg" alt="thehe" />
            </a>
            <a title="xutl" href="https://github.com/xutl">
                <img src="/assets/images/contributors/xutl.jpg" alt="xutl" />
            </a>
            <a title="kenjis" href="https://github.com/kenjis">
                <img src="/assets/images/contributors/kenjis.jpg" alt="kenjis" />
            </a>
            <a title="Ultimater" href="https://github.com/Ultimater">
                <img src="/assets/images/contributors/Ultimater.jpg" alt="Ultimater" />
            </a>
            <a title="cq-z" href="https://github.com/cq-z">
                <img src="/assets/images/contributors/cq-z.jpg" alt="cq-z" />
            </a>
            <a title="garyanewsome" href="https://github.com/garyanewsome">
                <img src="/assets/images/contributors/garyanewsome.jpg" alt="garyanewsome" />
            </a>
            <a title="niterain" href="https://github.com/niterain">
                <img src="/assets/images/contributors/niterain.jpg" alt="niterain" />
            </a>
            <a title="ir-carlos" href="https://github.com/ir-carlos">
                <img src="/assets/images/contributors/ir-carlos.jpg" alt="ir-carlos" />
            </a>
            <a title="kideny" href="https://github.com/kideny">
                <img src="/assets/images/contributors/kideny.jpg" alt="kideny" />
            </a>
            <a title="dyster" href="https://github.com/dyster">
                <img src="/assets/images/contributors/dyster.jpg" alt="dyster" />
            </a>
            <a title="lenrsmith" href="https://github.com/lenrsmith">
                <img src="/assets/images/contributors/lenrsmith.jpg" alt="lenrsmith" />
            </a>
            <a title="moderndeveloperllc" href="https://github.com/moderndeveloperllc">
                <img src="/assets/images/contributors/moderndeveloperllc.jpg" alt="moderndeveloperllc" />
            </a>
            <a title="Chameleon-m" href="https://github.com/Chameleon-m">
                <img src="/assets/images/contributors/Chameleon-m.jpg" alt="Chameleon-m" />
            </a>
            <a title="Red54" href="https://github.com/Red54">
                <img src="/assets/images/contributors/Red54.jpg" alt="Red54" />
            </a>
            <a title="kaioken" href="https://github.com/kaioken">
                <img src="/assets/images/contributors/kaioken.jpg" alt="kaioken" />
            </a>
            <a title="ruslan-tabachuk" href="https://github.com/ruslan-tabachuk">
                <img src="/assets/images/contributors/ruslan-tabachuk.jpg" alt="ruslan-tabachuk" />
            </a>
            <a title="HarryLee186" href="https://github.com/HarryLee186">
                <img src="/assets/images/contributors/HarryLee186.jpg" alt="HarryLee186" />
            </a>
            <a title="amnuts" href="https://github.com/amnuts">
                <img src="/assets/images/contributors/amnuts.jpg" alt="amnuts" />
            </a>
            <a title="flyingangel" href="https://github.com/flyingangel">
                <img src="/assets/images/contributors/flyingangel.jpg" alt="flyingangel" />
            </a>
            <a title="bnfan" href="https://github.com/bnfan">
                <img src="/assets/images/contributors/bnfan.jpg" alt="bnfan" />
            </a>
            <a title="bclark2" href="https://github.com/bclark2">
                <img src="/assets/images/contributors/bclark2.jpg" alt="bclark2" />
            </a>
            <a title="phalcondroid" href="https://github.com/phalcondroid">
                <img src="/assets/images/contributors/phalcondroid.jpg" alt="phalcondroid" />
            </a>
            <a title="alejosv" href="https://github.com/alejosv">
                <img src="/assets/images/contributors/alejosv.jpg" alt="alejosv" />
            </a>
            <a title="sanderson" href="https://github.com/sanderson">
                <img src="/assets/images/contributors/sanderson.jpg" alt="sanderson" />
            </a>
            <a title="Izopi4a" href="https://github.com/Izopi4a">
                <img src="/assets/images/contributors/Izopi4a.jpg" alt="Izopi4a" />
            </a>
            <a title="giftymalik" href="https://github.com/giftymalik">
                <img src="/assets/images/contributors/giftymalik.jpg" alt="giftymalik" />
            </a>
            <a title="afbora" href="https://github.com/afbora">
                <img src="/assets/images/contributors/afbora.jpg" alt="afbora" />
            </a>
            <a title="tetrapak07" href="https://github.com/tetrapak07">
                <img src="/assets/images/contributors/tetrapak07.jpg" alt="tetrapak07" />
            </a>
            <a title="WooDzu" href="https://github.com/WooDzu">
                <img src="/assets/images/contributors/WooDzu.jpg" alt="WooDzu" />
            </a>
            <a title="mzf" href="https://github.com/mzf">
                <img src="/assets/images/contributors/mzf.jpg" alt="mzf" />
            </a>
            <a title="assertchris" href="https://github.com/assertchris">
                <img src="/assets/images/contributors/assertchris.jpg" alt="assertchris" />
            </a>
            <a title="boast" href="https://github.com/boast">
                <img src="/assets/images/contributors/boast.jpg" alt="boast" />
            </a>
            <a title="flip111" href="https://github.com/flip111">
                <img src="/assets/images/contributors/flip111.jpg" alt="flip111" />
            </a>
            <a title="elburgl69" href="https://github.com/elburgl69">
                <img src="/assets/images/contributors/elburgl69.jpg" alt="elburgl69" />
            </a>
            <a title="Rewt0r" href="https://github.com/Rewt0r">
                <img src="/assets/images/contributors/Rewt0r.jpg" alt="Rewt0r" />
            </a>
            <a title="quasipickle" href="https://github.com/quasipickle">
                <img src="/assets/images/contributors/quasipickle.jpg" alt="quasipickle" />
            </a>
            <a title="alec-w" href="https://github.com/alec-w">
                <img src="/assets/images/contributors/alec-w.jpg" alt="alec-w" />
            </a>
            <a title="sdecandelario" href="https://github.com/sdecandelario">
                <img src="/assets/images/contributors/sdecandelario.jpg" alt="sdecandelario" />
            </a>
            <a title="tembem" href="https://github.com/tembem">
                <img src="/assets/images/contributors/tembem.jpg" alt="tembem" />
            </a>
            <a title="Woolworths" href="https://github.com/Woolworths">
                <img src="/assets/images/contributors/Woolworths.jpg" alt="Woolworths" />
            </a>
            <div class="clearfix"></div>
            <div class="fader"></div>
        </div>
    </div>
</section>
