---
layout: default
---

<div class="wrapper">
    <div class="info info--team">
        <div class="container">
            {% include menu-team.html %}
            <hr>

            <p>
                {{ site.data.languages[page.language]['testimonials_description'] | replace: ':1:', 'team@phalcon.io' | replace: ':2:', 'team@phalcon.io' }}
            </p>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_2'] | replace: ':1:', 'http://kolesa.kz' | replace: ':2:', 'http://kolesa.kz' | replace: ':3:', 'http://krisha.kz' | replace: ':4:', 'http://krisha.kz' }}

                    <cite>Nikita Vershinin, Lead Developer, Kolesa.kz and krisha.kz</cite>
                </p>
            </blockquote>

            <hr>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_3'] }}

                    <cite>Brian Seymour</cite>
                </p>
            </blockquote>

            <hr>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_4'] }}

                    <cite>Ivan Penchev</cite>
                </p>
            </blockquote>

            <hr>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_5'] | replace: ':1:', 'https://github.com/blackbunny/Url-Shortener' | replace: ':2:', 'https://github.com/blackbunny/Url-Shortener' | replace: ':3:', 'http://u.dolap.co' | replace: ':4:', 'http://u.dolap.co' }}

                    <cite>Murat Küçükosman</cite>
                </p>
            </blockquote>

            <hr>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_6'] | replace: ':1:', 'http://bezbykow.pl' | replace: ':2:', 'http://bezbykow.pl' }}

                </p>
            </blockquote>

            <hr>

            <blockquote>
                <p>
                    &rsaquo;&rsaquo; {{ site.data.languages[page.language]['testimonials_7'] | replace: ':1:', 'https://delete.im' | replace: ':2:', 'https://delete.im' }}

                </p>
            </blockquote>

        </div>
    </div>
</div>

